[2013-06-05 08:20] wasinger opened #1 "missing compatibility with HTML5 input type=month"
very nice plugin, but it's really a pity that it isn't compatible with HTML5 input[type=month], because it explicitely checks for input[type=text] and the "month/year" format is hardcoded, while input[type=month] uses "year-month" as date format. I would like to use this plugin as fallback for input[type=month] for browsers not yet supporting this input type with a native monthpicker widget.

[2013-06-10 01:26] #1 closed, assigned to KidSysco

[2013-06-20 15:06] jrsprice opened #2 "Uncaught TypeError: Object [object Object] has no method 'unmask'"
"(optional) Digital Bush Masked Input jQuery Plugin"

Getting error via the unmask method which trying to invoke but not using it since document states optional.

[2013-09-04 18:34] #2 closed, assigned to KidSysco

[2013-11-01 12:21] KidSysco opened #4 "CSS Autoloader"
Discussing autoloading with a friend yesterday, posting here so I don't forget.

[code]

[2014-01-07 21:33] ppritcha opened #5 "Possible enhancements?"
Nice plugin...it works almost exactly the way I want.  Would it be possible to add two options like jqueryui's datepicker:

buttonImage -- to allow me to set the icon's image
showOn: "both" -- Controls when the picker appears.  The picker can appear when the field receives focus ("focus"), when the icon button is clicked ("button"), or when either event occurs ("both").  Currently if the icon is s

[2014-08-11 19:49] ghost opened #6 "No button labels as in jqueryUI datepicker"
Jquery UI has next and previous labels for the next and back buttons.  For consistency, these should be present in the month picker as well.

[2014-08-12 18:16] ghost opened #8 "Hard coded button label for OpenMonthChooser"
Should be an i18n var if you choose to use the button text instead of an icon.

[2014-08-13 14:41] KidSysco opened #9 "Demo Image"
![jquery-ui-month-picker-demo](https://cloud.githubusercontent.com/assets/2731230/3907006/f117cf7c-22f7-11e4-9958-4cd246c0acb6.gif)

[2014-08-13 14:41] #9 closed, assigned to nobody

[2014-08-13 17:12] ghost opened #10 "Years higher than 2099, and lower than 1900 do not register."
Years higher than 2099, and lower than 1900 do not register - they default to some other arbitrary year.

Nevermind - this was due to another the mask plugin I was using.

[2014-08-13 17:15] #10 closed, assigned to nobody

[2014-08-18 12:45] #6 closed, assigned to nobody

[2014-08-18 12:45] #8 closed, assigned to nobody

[2015-03-25 14:12] chrisbean33 commented on #5
good plugin, and works well with html5 month input.  What I would like to see is the ability to set: Min, Max, Start values or atleast not allow historic values.  keep up the good work..

[2015-05-08 10:58] mrj commented on #5
This was the best month selector I found for my purposes.

I've implemented some enhancements:
* The selected date is now highlighted in green,
* ````EarliestMonthSelectable```` and ````LatestMonthSelectable```` options have been added so that the range of months that can be picked can be restricted,
* The ````AlwaysShown```` option has been added, which keeps the picker displayed, allowing things

[2015-05-08 13:55] KidSysco commented on #5
Wow I am totally blown away at this Mark! Great work! Somehow I knew that if I were to blow off all of these requests that someone might come in and do them! I am just kidding, really I am just busy and very grateful for your assistance!

This is outstanding work for the following reasons...

1. You looked through the forum to find things other folks wanted that you could implement while you were

[2015-05-18 02:10] mrj commented on #5
Thanks kid for your kind comments. Though I'd read this thread beforehand, and so knew others wanted selection limits, my motivation was to implement the features I needed. I'm just glad there was such a nice widget on which to build, which saved me a lot of time.

I'll work on adding some test assertions on JSFiddle for the new features. I'm very glad you put together all those tests in the first

[2015-05-18 13:46] KidSysco commented on #5
Hi Mark,

I really like every idea you have here. The year link could use a bit more work as you say.

And a 12 year paging routine... Yea, of course... I am trying to understand why I didn't think of that but I don't know... I just didn't I guess. But I think that idea is perfect.

[2015-05-27 11:02] brunoDegaspare opened #11 "Disable past dates"
Is it possible to disable past months once first month is set?

[2015-05-27 12:27] KidSysco commented on #11
Hi Bruno,

There is not currently a way to do this. However, mrj has a fork where he has been working on max and min date limits and he has it working pretty well. I think he is about ready to merge but you might check with him and see.

https://github.com/mrj/jquery-ui-month-picker

Using that setting, you could write a bit of JS that would just set the min date on the control based on the user i

[2015-07-15 15:56] airyt opened #12 "displaying at bottom of page"
howdy - love the plugin, but in my current wordpress site, opening the month picker adds it to the bottom of the page. I have a working normal ui date picker on the same page.
any ideas?
thanks!

[2015-07-15 16:24] airyt commented on #12
nevermind. my html wasn't including the css file properly.

[2015-07-15 16:24] #12 closed

[2015-09-07 08:18] sawnyi opened #14 "How to change current choosing date when click KidSysco Month picker"
Hi,

You month picker is really awesome.
But I have something wrong.
Month picker show current year when I first click that's true.
And month picker still showing current year when I click the next time.
That shouldn't be still showing current year, that should be showing my choosing year.
Please help me if you have some answer.

![month picker](https://cloud.githubusercontent.com/assets/14158887/

[2015-09-14 13:48] KidSysco commented on #14
I have not seen this behavior yet. Are you using supported versions of jQuery?

Can you post an example on jsFiddle?

The examples we have posted on jsFiddle do not show this behavior do they?

http://jsfiddle.net/kidsysco/JeZap/

Let me know.

[2015-09-14 13:50] KidSysco commented on #5
Any updates on this?

[2015-09-30 18:42] benjamin-albert opened #16 "Make the plugin more consistent with jQuery UI Datepicker"
It makes sense that the month picker plugin will be used side by side with jQuery UI's Datepicker, so it makes sense that it will behave like it (at least from the user's perspective).

Here is a list of behaviors that cannot be changed without changing the plugin's source:
<ul>
<li>
Animation effect and speed (Datepicker's default is a fadein animation that takes 400ms).
</li>
<li>Button image an

[2015-09-30 18:45] KidSysco commented on #16
This sounds like a fine plan. But what options do you see differing between your 2 branches? Just default settings? I can just wait to see what you come up with too, it should be interesting.

[2015-09-30 19:06] benjamin-albert commented on #16
The datepicker-consistent branch will by default:
<ul>
<li>Use a fade in/out animation.</li>
<li>Show and hide's speed will default to 'normal' aka 400ms</li>
<li>Have this refers to the associated input field in all callbacks</li>
</ul>

I might come up with more <i>breaking-ish</i> changes as I go.
If I come up with more I'll update you.

[2015-09-30 20:21] KidSysco commented on #16
OK, well I am just not sure this is worth splitting off into another branch. As long as no breaking changes are made. Based on this, all unit tests should still pass.

If you really have a breaking change, that effects on of the unit tests or some other major piece of functionality, then I think we are OK with just one branch for now.

What do you think?

[2015-09-30 21:00] benjamin-albert commented on #16
If you don't have any problems changing the default options I'd prefer have one branch.

[2015-10-01 12:16] KidSysco commented on #16
Agreed!

[2015-10-02 20:24] benjamin-albert commented on #16
I've created a pull request for most of the features I've mention here see: #17.

But I still have some more features I need to add before I can use the opens source version in my company.

I will finish implementing the all of the features I've mentioned here and then I will open another issue discussing the other feature I want to add.

[2015-10-08 15:39] KidSysco commented on #16
I am going to leave this issue open for now actually...

I just added a bunch of tests to ensure everything is still working as expected. This is all my fault as there were no tests to show this stuff, and the issue may have been around before your code was introduced too.

I am not sure what happened but the tests for the HTML 5 month Input type were lost, so I added them back in and I am noticin

[2015-10-08 15:41] KidSysco commented on #16
I added more tests for the position work you did too checking all sides of the window ensuring no overlapping.

I also added a bunch of tests for GetSelectedDate() returning a date object rather than strings. I love that one! Good job there.

[2015-10-08 16:36] benjamin-albert commented on #16
Your right about the MonthInputFormat I copied and pasted the format from the default options in mistake.

MonthInputFormat Is defined under the ParseMonth method changing it to 'yy-mm' will solve the problem.

[2015-10-08 16:49] KidSysco commented on #16
ok good, do you want to handle this in your next pull request? That way there is no merge conflict.

[2015-10-08 17:18] benjamin-albert commented on #16
I'm almost ready to open a pull request for the <a href='https://github.com/benjamin-albert/jquery-ui-month-picker/tree/2.5>2.5 branch</a> in my fork.

If you don't mind waiting a day or two I'd prefer make the change myself and avoid potential merge conflicts.

[2015-10-08 17:35] KidSysco commented on #16
OK yea, throw in that one last change just discussed to fix the html 5 month type. I just tested it in fiddle and it works perfectly!

[2015-10-08 18:09] benjamin-albert commented on #16
It's already included see the <a href='https://github.com/benjamin-albert/jquery-ui-month-picker/commit/99bde89272c5e059d192a21f213c282df0b0191f'>latest commit to 2.5</a>.

The reason that this slipped is that when I tested out creating a subclass that uses <a href='http://momentjs.com'>Moment.js</a> for parsing and formatting I've assigned a correct `MonthInputFormat`.

This was a very small chan

[2015-10-09 13:38] KidSysco commented on #16
I was looking at  your 2.5 branch. Very nice and impressive as usual. Is it ready to merge yet or you still working on it?

[2015-10-09 13:46] benjamin-albert commented on #16
I'm almost ready to open a pull request.
I'm currently in the progress of creating a fiddle and testing.

[2015-10-09 18:38] #16 closed

[2015-10-12 23:55] togauravdaga opened #19 "Multiple Calendar window remains open on the page"
On a given page if you have multiple input fields using Month Picker, and user clicks on first input field followed by click on second input field then multiple windows of calendar remains open and it start to mess the page structure.

This is reproducible on GitHub and also attaching a screenshot from my application to show this issue.

![image](https://cloud.githubusercontent.com/assets/9852027/

[2015-10-13 02:56] KidSysco commented on #19
Yes I see. I am not sure where this re-appeared but we have no unit test for this. So we need to get one in place. I will keep you posted here in this thread.

[2015-10-13 02:59] togauravdaga commented on #19
Thanks Ryan. I was trying to fix it by closing all jQuery dialog in _show
function. But that is band aid solution and decided to get your insight.

On Monday, October 12, 2015, Ryan Segura <notifications@github.com> wrote:

--

*Thanks & Regards/ **सादर**,*
*Gaurav Daga*
*togauravdaga@gmail.com <togauravdaga@gmail.com> | +1.201.308.3242 | Web
Presence <http://goo.gl/lW0nh>  *
Do not follow where t

[2015-10-13 03:14] KidSysco commented on #19
Yea, we used to have this in there...

$('.month-picker').hide();

But that doesn't quite do it anymore.

I think we might need to call Close() on each instance but I should talk with benjamin about it too. He will probably have a better idea.

[2015-10-13 03:22] benjamin-albert commented on #19
I was hesitating about including code to workaround this issue on version 2.5, but I decided to leave this to version 2.6 were I'm going to suggest to make the menu a singleton (more about 2.6 coming up in it's own issue, I'm still researching and prototyping).

If you are using (or can upgrade to) version 2.5 you can workaround this by doing something like this:
<pre>
$(".selector").MonthPicker({

[2015-10-13 03:24] togauravdaga commented on #19
I'll try it and let you know results. Thanks for response.

On Monday, October 12, 2015, benjamin-albert <notifications@github.com>
wrote:

--

*Thanks & Regards/ **सादर**,*
*Gaurav Daga*
*togauravdaga@gmail.com <togauravdaga@gmail.com> | +1.201.308.3242 | Web
Presence <http://goo.gl/lW0nh>  *
Do not follow where the path may lead. Go instead where there is no path
and leave a trail. - Harold R. M

[2015-10-13 03:31] benjamin-albert commented on #19
If anyone want's to add a built in workaround before I will finish 2.6 please add it and I'll merge the changes to my fork.

But like I said I'm expecting this problem to not be possible in version 2.6 (because there will be only one instance of the menu per page that is shared between the MonthPicker instances).

[2015-10-13 03:39] togauravdaga commented on #19
Sure, I will give it a shot to close all windows based on css class and try
to push this change.

On Monday, October 12, 2015, benjamin-albert <notifications@github.com>
wrote:

--

*Thanks & Regards/ **सादर**,*
*Gaurav Daga*
*togauravdaga@gmail.com <togauravdaga@gmail.com> | +1.201.308.3242 | Web
Presence <http://goo.gl/lW0nh>  *
Do not follow where the path may lead. Go instead where there is no

[2015-10-13 08:33] benjamin-albert commented on #19
I've created a pull request with an efficient solution for this issue. See <a href='https://github.com/benjamin-albert/jquery-ui-month-picker'>my fork</a>.

[2015-10-13 13:00] KidSysco commented on #19
ok everything should be ready, minified with grunt, unit tests updated, and that latest fix appears to work great.

Thanks to Gaurav for noticing the issue and reporting, thanks to Benjamin for a speedy fix!

Great work you guys!

Let me know if I missed anything.

r.

[2015-10-13 13:00] #19 closed

[2015-10-13 13:22] KidSysco commented on #14
It could also be your input format. Try this with the new MonthFormat option and see if it helps. It has been a while so i am closing this out. Let me know if you need anything else and we will open another issue.

[2015-10-13 13:22] #14 closed

[2015-10-13 13:25] KidSysco commented on #5
Mrj's fork still exists, we might want to steal on a few of his ideas. I will leave this open for now.

[2015-10-13 13:25] #4 closed

[2015-10-13 17:54] togauravdaga commented on #19
I tested this today with jQuery 1.8 and jQuery 1.10 combination, and it works perfect.  Thanks for fixing it.
:+1:
Also, we changed layout from 3X4 to 4X3 and following line of code needed to be modified :

 for (var i = 0; i < 12; i++) {
       var $tr = !(i %  4) ? $('<tr />').appendTo($table) : $tr;
        $tr.append('<td><button class="button-' + (i + 1) + '" /></td>');
  }

[2015-10-13 19:14] KidSysco commented on #19
That is awesome Gaurav! If you wanted to give back, you could add an option for layout for others and for yourself to use.... If you want.

;)

[2015-10-19 14:32] KidSysco commented on #5
I believe this was fixed thanks to Benjamin! Woot!

[2015-10-19 14:32] #5 closed

[2015-10-19 14:32] KidSysco commented on #11
I think Benjamins fix addresses this, if not go ahead and open another issue.

[2015-10-19 14:32] #11 closed

[2015-10-19 14:52] KidSysco opened #22 "Clicks Re-Open the Menu"
Upon clicking the input once, the menu opens. While open, if you click the input again, it closes then re-opens the menu.

This behavior does not exist when using the icon to open the menu.

I wouldn't have noticed or cared but it looks like Google put some attention to the HTML 5 Month Input type. There are new controls in the input that each respond to a click and pass along the hide/show events

[2015-10-19 15:39] benjamin-albert commented on #22
Yep, this is my bad. I'm on it.

[2015-10-19 16:08] benjamin-albert commented on #22
Fixed, see #23

[2015-10-19 17:09] KidSysco commented on #22
U da man Benjamin!

[2015-10-19 17:09] #22 closed

[2015-10-26 14:16] KidSysco opened #25 "Unit Tests"
The new unit test system is so awesome, and there were some issues with the tests I wrote that still need to be resolved. These issues were compounded with the latest updates to the testing system.

The position test fails in the browser for 2 reasons...

1. Scrolling
The position tests scroll the window so that the input is in view. If we place the qUnit Test Output at the top of the page, then t

[2015-10-26 15:00] benjamin-albert commented on #25
"I would like to get in to fix this and I don't want Benjamin to get in there and beat me to it!"

LOL, I'll do my best to stay out of it :)

[2015-10-26 15:07] KidSysco commented on #25
I'm having a blast doing this, this is such a better way to work!

On Mon, Oct 26, 2015 at 10:00 AM, benjamin-albert <notifications@github.com>
wrote:

[2015-10-26 18:08] benjamin-albert commented on #25
I'm glad to hear that you like the new test system.

I've started working on tests for the MinMonth and MaxMonth options.

[2015-10-26 18:18] KidSysco commented on #25
I just checked in, I made lots of adjustments to the test script so be sure to get the latest code. This was tons of fun to work in! I really like the updated QUnit too, I adjusted all of the asynch calls to conform to QUnit 2.0 which makes much more sense than previous versions.

[2015-10-26 18:18] #25 closed

[2015-11-19 00:39] arpitshah29 opened #29 "Month Picker Calendar Instance Does not Open on Tabbing into Input Field.. Possible Enhancement?"
Hello,

Is there any plans for putting in this functionality where the month picker opens up on tabbing into an input field?

I looked into the code and was able to figure closing of the month picker while tabbing out.

Issue was fixed by adding one more switch statement

_keyDown: function() {
            var keyCode = $.ui.keyCode;
            switch (event.keyCode) {
                case keyCod

[2015-11-19 06:03] benjamin-albert commented on #29
I'm working on a fix for this.

Stay tuned for a pull request assuming this doesn't involve any breaking changes.

[2015-11-19 09:41] benjamin-albert commented on #29
I've opened a pull request with a fix for this issue (see #30).

I'm waiting for @KidSysco (the reop owner) to merge the change but feel free to grab <a href='https://github.com/benjamin-albert/jquery-ui-month-picker'>my version</a> of MonthPicker.js

If you are using a modified version of the plugin outside of a git repo I can give you instructions on how to implement this change, although I high

[2015-11-19 14:31] benjamin-albert commented on #29
@KidSysco Merged the changes into his (the official repository) go ahead and download the update straight from <a href='https://github.com/KidSysco/jquery-ui-month-picker'>here</a>.

[2015-11-19 14:59] KidSysco commented on #29
Closing this one out, feel free to open another issue if you run into anything strange.

Thanks for reporting this to us!

[2015-11-19 14:59] #29 closed

[2015-11-19 19:01] arpitshah29 commented on #29
Thanks guys for quick turn around on this, Will keep you updated if I see any issues.

Appreciate the help!

[2015-11-22 16:32] benjamin-albert opened #31 "Redesign the menu (plans for version 3.0)"
I'd like to suggest a redesign of the menu which aims to look as consistent as possible with Datepicler.

The redesign will:
<ol>
<li>Make the white background wrap around the header (year table) and buttons.</li>
<li>Reducing the margin between between the buttons.</li>
<li>Make the next/prev buttons have a transparent background that will show when you hover (mouse over) the them.  <i>(not imple

[2015-11-23 17:19] KidSysco commented on #31
I think it is looking really sharp! Keep it up! I don't see how this would effect any existing users too terribly. Although I am sure they appreciate your thoughts in this area.

Keep moving forward, we will merge when you are ready. Let me know if you need anything.

[2015-11-26 16:20] FaiqH opened #32 "manual entering input value gets reset after hitting enter"
How do I have it so that if I were to enter the year manually it would not jump to the date on the calendar?

[2015-11-26 16:37] benjamin-albert commented on #32
You can use the StartYear option.

Quoting the documentation:
StartYear

Type: Int
Default: Current Year
Sets the starting year in the month picker. This option will override all other start year behaviors.

Example:
    $("selector").MonthPicker({ StartYear: 2016 });

[2015-11-26 16:46] FaiqH commented on #32
Thanks for the very quick reply!
I just found a solution to my situation.
I removed any returns on my enter key.
since I already have that key bound to the search button.

You have a great function built in - OnAfterMenuOpen. I used that as such:

[code]
Albeit it is a quick fix but it seems to do the job well.
Cheers

[2015-11-26 16:57] benjamin-albert commented on #32
Oh, now I understand what your trying to do.

Stay tuned for a pull request that will make pressing enter selects the current month a little bit smarter (only if the user didn't change the date in the input field).

Thank you for pointing this out.

[2015-11-26 18:46] benjamin-albert commented on #32
I've opened a pull request with a fix for this issue (see #30).

I'm waiting for @KidSysco (the reop owner) to merge the change, but feel free to grab <a href='https://github.com/benjamin-albert/jquery-ui-month-picker'>my version</a> of MonthPicker.js

If you are using a modified version of the plugin outside of a git repo I can give you instructions on how to implement this change, although I hig

[2015-11-26 19:04] FaiqH commented on #32
Thanks for the info!
I wasn't sure how to explain it.
but i found something else now as well.
Basically when a user will manually update the input box and hit enter due to the modification I used the action updates the calendar now.
However, if I try to use the format function: MonthFormat: 'mm-yy' the input box will again display what's in the calendar rather than what the user entered. So i am t

[2015-11-26 19:11] benjamin-albert commented on #32
I'm sorry I don't quit understand whats going wrong.

If my update didn't solve this issue can you please attach your code and explain whats going wrong with it.

[2015-11-26 19:20] FaiqH commented on #32
Sorry,
I will explain what I am trying to do:
If user enters date using keyboard and hits the enter key,
then the date in the input box does not change back to today date.

[code]

[2015-11-26 19:26] benjamin-albert commented on #32
Did you try [my update](https://github.com/benjamin-albert/jquery-ui-month-picker/blob/master/MonthPicker.js) it should fix this issue.

I made it so that pressing enter will only override the value if the input field is empty.

Download and try my version and tell me if it fixed the issue.

[2015-11-26 19:32] FaiqH commented on #32
works!

[2015-11-28 16:54] KidSysco commented on #32
hi folks, thanks for working so well on this, everyone appreciates what you are doing! I am on holiday for the weekend, I should be able to get to this tomorrow or Monday. Thanks again!

[2015-12-06 20:33] benjamin-albert commented on #31
I've managed to hack jQuery UI button to have a transparent background, take a look at the <a href='http://jsfiddle.net/benjamin_albert/vjbf4nn1/'>fiddle</a>.

I've also added <a href='https://github.com/benjamin-albert/jquery-ui-month-picker/blob/3.0_prototype/test/themes.html'>test/themes.html</a> which allows to test the plugin in different jQuery UI themes and CSS (I think we should make a dem

[2015-12-07 13:34] KidSysco commented on #31
Wow that is really cool, Swanky Purse, lol, that one is crazy. But I always liked smoothness the most. I do not understand what transparent buttons have to do with it. Interesting though, I would like to know more.

Also, do you think that moving forward and backwards through the years should jump in 12 years increments rather than 5?

If so, do you want to implement that here too?

[2015-12-07 14:34] benjamin-albert commented on #31
I was thinking about offering an option to set the number of years to jump that defaults to 12.

If we implement this it would make sense to rename the `prev5Years` and `next5Years` properties on the `i18n` object.

I guess we can add this to the potentially breaking changes list of 3.0

[2015-12-07 14:48] benjamin-albert commented on #31
jQuery UI button doesn't have any documented way to make it have a transparent background when you are not hovering it.

The way I achieved this is by removing the `ui-state-default` class from the button and applying a transparent 1px border that prevents the button from moving around you hover the button and it gets a border.

I also had to add the `ui-state-hover` class after you clicked the bu

[2015-12-07 14:49] KidSysco commented on #31
I can agree to this. Good ideas in minimizing impacts!

On Mon, Dec 7, 2015 at 8:34 AM, Benjamin Albert <notifications@github.com>
wrote:

[2015-12-07 14:54] benjamin-albert commented on #31
BTW I originally thought to look into Datepicker's source code and do something similar, this way I don't have to hack the button and test it in different configurations.

Unfortunately all of those styles are limited to child elements of the `ui-datepicker` class and applying this class to the Month picker menu messes it up.

However the bright side of this is that even if I could imitate Datepic

[2015-12-08 18:00] benjamin-albert commented on #31
I've managed to hack jQuery UI button to have a transparent background.  It seems to work nice with couple

[2015-12-17 16:49] mareek opened #34 "The plugin no longer works on IE8"
When used in IE8 the folowing exception is thrown:
"Object doesn't support property or method 'indexOf'"

The error occurs since this commit:
https://github.com/KidSysco/jquery-ui-month-picker/commit/f5c5a75dabe5c776552185a8259abffd95fa1a03

[2015-12-17 16:57] KidSysco commented on #34
Yeap, that is what my tests show too, good find! Thanks for reporting this!

It should be a quick fix, I will post back when it is ready for IE 8.

On Thu, Dec 17, 2015 at 10:49 AM, Matthieu Mourisson <
notifications@github.com> wrote:

[2015-12-17 17:05] KidSysco commented on #34
Now I just gotta see if I can fix it before Benjamin does! He is so fast, pretty hard to beat! lol!

[2015-12-17 17:10] benjamin-albert commented on #34
I run the plugin at work in IE 8 compatibility (aka enterprise) mode by adding an Array.indexOf polyfill.

I guess we can replace the use of index of with jQuery's $.inArray() function.

@KidSysco I have enough IE 8 enterprise mode nonsense at work (plus I don't feel like asking for someone else's Windows machine for this) so please fix this issue and I'll pull your changes into my 3.0 branch.

[2015-12-17 17:38] benjamin-albert commented on #34
@KidSysco Can you tell me the img button test passes in IE 8?

If it's failing because the img attribute's value is the absolute path, please see if you can work around IE 8's lack of support of DOM attributes.

I'm really curious about this please update me about this.

[2015-12-17 19:16] KidSysco commented on #34
ok I will keep you posted.

On Thu, Dec 17, 2015 at 11:38 AM, Benjamin Albert <notifications@github.com>
wrote:

[2015-12-17 20:04] KidSysco commented on #34
I used to have IE 8 issues at work (US Army). Then I got a new job! I am much happier now but I still feel for folks who have to deal with the IE struggle. Also Benjamin has been setting us up really nicely, so I think that my latest commits will get reflected on the JSFiddle demo due to the CDN we are using in JSFIddle now. That is so cool!

OK I will take a quick look at your img button and see

[2015-12-17 20:16] KidSysco commented on #34
OK Benjamin... I kinda forgot where we are working out of but I went ahead and tested your 3.0 branch in IE 11. I think this is right because the tests are looking for the menu to be displayed as inline-block but now they are showing as block. I think that is expected and easy to fix. However, this issue should be showing on all browsers. So you probably know about that one.

If I try to test the

[2015-12-17 20:16] #34 closed

[2015-12-18 09:10] mareek commented on #34
That was a really quick fix indeed !
Thank you very much

[2015-12-18 15:20] benjamin-albert commented on #34
I've merged your changes into my 3.0 branch.

All tests are passing in PhantomJS, Firefox Developer Edition, Chrome and Safari.

@KidSysco Please run the tests in IE and tell me whats the verdict.

Thanks.

[2015-12-18 15:25] KidSysco commented on #34
I have never been so happy to serve, I will let you know later today!

On Fri, Dec 18, 2015 at 9:20 AM, Benjamin Albert <notifications@github.com>
wrote:

[2015-12-18 16:45] KidSysco commented on #34
I just sync'd and re-tested your 3.0 branch. I do not see that the tests pass in PhantomJS.

It has to do with the menu showing as block instead of inline-block.

Am I doing something wrong?

[2015-12-18 17:49] benjamin-albert commented on #34
You're right, I accidentally pushed a commit for the in progress work on the year title button which I haven't adjusted the internals (and possibly unit test) for this big change.

From now on I will only push code that passes the unit tests to the [3.0_prototype](https://github.com/benjamin-albert/jquery-ui-month-picker/tree/3.0_prototype) branch and I will have another branch [alpha_4_progress](

[2015-12-18 19:50] KidSysco commented on #34
OK here it is.

The transparent year button was working great in all browsers in the previous version of the 3.0 branch, despite the unit test errors.

Then I fetched updated code from the 3.0 branch and ran all tests again.

IE 8 - 11 the button still works great despite the test errors that are simpler now.

Edge - all tests pass just as if it were running in a PhantomJS instance.

Also, there w

[2015-12-18 20:17] benjamin-albert commented on #34
Do the tests pass in IE if you fetch the  [3.0_prototype](https://github.com/benjamin-albert/jquery-ui-month-picker/tree/3.0_prototype) branch, which should not include the transparent jump years button?

[2015-12-18 20:46] KidSysco commented on #34
Sorry I got confused.

I think I tested the 3.0_prototype branch but I didnt recognize it. I
thought I was testing the 3.0 branch but I can no longer find the 3.0
branch.

So I just ran all tests again against the 3.0_prototype branch and it had
all of the exact same results as I posted before...

All tests pass in Edge just as they do in PhantomJs.

All versions of IE are showing that tests expec

[2015-12-20 18:28] benjamin-albert commented on #31
I turned the year title into a transparent button that fades in the label Jump Years when you mouse over it.

I also made moving forward and backwards through the years jump 12 years rather than 5 (I'll discuss this in depth when I finish the prototype).

Please take a look at the [fiddle](http://jsfiddle.net/benjamin_albert/vjbf4nn1/) and tell me what you think.

@KidSysco I need your help to mak

[2015-12-21 13:13] KidSysco commented on #31
Very nice work! The extra interactivity there exposes the jump years
function much better. This is good UI.

A back to 2015 button would be perfect!

This is a really nice vision.

I will test it later on IE and let you know.

I noticed that the next/previous buttons, when in jump years mode, still
say 'Jump Forward/Back 5 years' in the fiddle.

On Sun, Dec 20, 2015 at 12:28 PM, Benjamin Albert <n

[2015-12-21 13:34] KidSysco commented on #31
I just got done testing.

All tests pass in your 3.0_Prototype branch.

This includes all version of IE 8 - 11 as well as Edge.

Well done!

On Sun, Dec 20, 2015 at 12:28 PM, Benjamin Albert <notifications@github.com>
wrote:

[2015-12-23 18:40] benjamin-albert commented on #31
I'm sorry I couldn't respond sooner (working overtime at work).

The next/previous buttons title (AKA tooltip) is one of the many places wI'll need to change.

Here are a few other places we need to change:
1. The i18n property names (a breaking API change).
2. The projects README.
3. The demo fiddle.

Like I said in my previous comment, I'll discuss this in depth when I finish the prototype.

As

[2015-12-30 17:06] thecheshirecat opened #35 "Inline version"
Hi.

I've downloaded the latest version of this plugin. In the demo, the inline month picker doesn't shows up. Also, I tried to add it on my site (with the latest versiones jquery and jquery-ui) and didn't appear nothing.

It's a bug?

[2015-12-30 18:11] KidSysco commented on #35
Hi Sergi,

Thanks for the feedback! This is how we find bugs and fix them, it is when
good users like you bring stuff to our attention, so we thank you for the
open communication!

Lets start with the inline picker. If I visit the demo at...

http://jsfiddle.net/kidsysco/JeZap/show/

I can see the inline version in IE 11 CHrome and FF. JSFiddle does not
support any IE under IE 11. So let's be sure

[2015-12-31 07:03] thecheshirecat commented on #35
Hi,

I was using jQuery 1.9.2 and 1.8.2, and with jQuery-UI 1.9.2. The nav I'm using is Chrome. Will try it again today, and if still doesn't works, I'll let you know, but yesterday I tried it on the demo from the ZIP file when you download it, trying to do a simple test with the latest jQuery-UI version and jQuery 1.9.2, and didn't display nothing, sometimes just the buttons without any text.

[2015-12-31 09:10] benjamin-albert commented on #35
The repository contains a `test` and `demo` directory.

The `test` directory contains a `test.html` and `test.js` which run automated [unit tests](https://en.wikipedia.org/wiki/Unit_testing) to help plugin developers ensure that new and existing features work as expected.

The test page is not intended for demonstration peruses (for that we have the [demo on jsfiddle](
http://jsfiddle.net/kidsysco

[2015-12-31 13:05] thecheshirecat commented on #35
Hi and thanks for the response.

I tried to get the demo.min.js and demo.min.css but still not working.

Console is not giving any error, and the result I get is the same as the image, a set of buttons empty, just getting displayed the year.

The code is the simplest as can be: a styled div (with id="selMonth") with a Width and Height, and jquery uses $("#selMonth").MonthPicker();

![captura de pa

[2015-12-31 14:18] benjamin-albert commented on #35
As written in the [installation](https://github.com/KidSysco/jquery-ui-month-picker#installation) section of the projects readme you should use the [MonthPicker.min.js](https://github.com/KidSysco/jquery-ui-month-picker/blob/master/MonthPicker.min.js) file.

The demo.min.js also includes the MonthPicker plugin and other plugins which are used for the demo but are not necessary in your case.

I've

[2015-12-31 15:05] benjamin-albert commented on #35
The reason that bootstrap messes up the plugin is that it overrides jQuery UI's button with it's own button.

You can workaround this by using [bootstrap noConflict](http://getbootstrap.com/javascript/#js-noconflict).

Basically and this script after the bootstrap JavaScript and before the Month Picker plugin script.

    var bootstrapButton = $.fn.button.noConflict(); // return $.fn.button to pre

[2015-12-31 15:10] benjamin-albert commented on #35
If you want you can tale a look and tryout the alpha version of the upcoming version 3.0, which seems handle the bootstrap CSS a bit better.

For details see #31.

Your feedback would be greatly appreciated.

[2015-12-31 15:38] benjamin-albert commented on #35
@KidSysco If you think we should support the plugin with Bootstrap, I guess we can try to detect bootstrap and and do the `noConflict` button and maybe some CSS adjustments internally.

[2016-01-03 08:39] benjamin-albert commented on #31
The redesigned prototype is complete (including the Back to 2015) button.

Take a look at the [fiddle](http://jsfiddle.net/benjamin_albert/vjbf4nn1/) and tell me what you think.

Assuming we both agree on the finial design the next steps are:

1. Decide if we should offer the number of years to jump as an option which defaults to 12.

2. Decide on an appropriate `i18n` property names.

3. Update t

[2016-01-04 01:10] KidSysco commented on #35
just getting caught up, thanks for covering for me!

I like the boot strap no conflict idea, does that work ok?

On Thu, Dec 31, 2015 at 9:38 AM, Benjamin Albert <notifications@github.com>
wrote:

[2016-01-04 13:27] benjamin-albert commented on #35
I've opened a pull request that makes the plugin handle Bootstrap out of the box.

I'm waiting for @KidSysco (the reop owner) to merge the change, but feel free to grab <a href='https://github.com/benjamin-albert/jquery-ui-month-picker/tree/bootstrap_support'>my version</a> of MonthPicker.min.js

@thecheshirecat Judging by the image you've attached I think you forgot to add a reference to jQuery U

[2016-01-04 15:56] thecheshirecat commented on #35
@benjamin-albert I got them, didn't forgot them. I implement other jQuery UI's, just like datepicker.
Thanks for updating! Downloaded and it's working fine!

[2016-01-04 17:56] #35 closed

[2016-01-05 10:17] benjamin-albert commented on #35
It looks like the issue you had with Bootstrap was resolved.

@thecheshirecat If you're still having problems please [open another issue](https://github.com/KidSysco/jquery-ui-month-picker/issues/new) which explains the steps (or configuration) required to reproduce the problem.

If you could [create a fiddle](https://jsfiddle.net/) that reproduces the problem it would be much easier for us to hel

[2016-01-05 13:22] thecheshirecat commented on #35
nope, all fine now! was my css, that haves a class name equal at the "year-title" class from the plugin, haha, well, thanks for all, and glad I could help reporting bootstrap compatibility!

[2016-01-20 13:19] KidSysco commented on #32
forgot to close this issue.

[2016-01-20 13:19] #32 closed

[2016-01-21 17:41] neobie opened #39 "Changing the Month string"
Hi, thanks for the wonderful Month Picker.
I wish to know how can I remove the dot behind month ? eg. "Jan." to "Jan".
And further, how can I change it to other language?

[2016-01-21 18:06] benjamin-albert commented on #39
You can use the built in i18n support.

Here is an example for translating the menu to hebrew:
[code]

[2016-01-21 18:08] benjamin-albert commented on #39
@KidSysco I really think we should improve the documentation and add a demo for this.

[2016-01-21 19:40] KidSysco commented on #39
ok I can take that one on if you want!

On Thu, Jan 21, 2016 at 12:08 PM, Benjamin Albert <notifications@github.com>
wrote:

[2016-01-22 07:13] benjamin-albert commented on #39
@KidSysco Yah sure go ahead, if you can also update the image in the README while your at it that would be great.

[2016-01-22 20:03] KidSysco commented on #39
I am thinking of moving all docs to the wiki. I have started the process, take a look and let me know what you think Benjamin. I just think that the docs are getting too long, hard to manage and read as they are. That might be why people are not seeing things too. It might take me another day or two to get through the move. Let me know.

[2016-01-23 06:50] neobie commented on #39
Thank you Benjamin, that is useful information.
And Thank you KidSysco for the plugin :100:

[2016-01-23 19:10] benjamin-albert commented on #39
I absolutely agree that we should move the projects documentation out of the README.

But I'm not sure that GitHub wiki's will fit in to our workflow because there is [no pull request support](http://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github) (There's a workaround for this) and I don't feel comfortable editing the live documentation.

I personally think our goa

[2016-01-23 19:48] benjamin-albert commented on #39
In my experience people don't read, they scan (not just documentation but on the web in general).

For example if the user will search for 'selected month' in the wiki's first page they won't find anything, but if they search for it in the projects README they will most likely find what they are looking for.

I think we should organize the documentation the same way jQuery UI and Wikipedia does:
*

[2016-01-24 20:33] KidSysco commented on #39
This is what we were originally going for. But I just think that
maintaining it is a real drag. All options should be in Alphabetical Order
and you can see that the Wiki is doing that for us. I agree that ideally,
the docs should be identical to the jQuery UI docs but it just seems like
they are maintaining documentation the hard way.

Finding the code to edit is hard with everything in one big pa

[2016-01-25 16:46] KidSysco commented on #39
I am thinking we should use GitHub Pages as a way to advertise the plugin
and give it a nicely displayed front end.

We also should consider putting the demos there, so they just work.

Fiddle is still good and it is a great way to encourage users to submit
bugs, but I think GitHub pages will be better for a Demo Site.

Then for the docs, I am just thinking of using the GitHub wiki. We could
link

[2016-01-25 18:05] benjamin-albert commented on #39
Thanks for making me a Collaborator, I was thinking of asking for it so I can add tags/close issues and peek in the traffic graphs.

Actually GitHub wikis are just git repositories that you can copy the git clone URL form under the pages outline and create branches locally if you want.

Also when edit a page there is a Page History button which show all off the commits (edits) made to that page.

[2016-01-25 18:12] benjamin-albert commented on #39
It looks like links that refer to a [Fragment Identifier](https://en.wikipedia.org/wiki/Fragment_identifier) (a.k.a hash) in order to refer the user to another page in the documentation don't work and need to be updated.

[2016-01-25 18:25] benjamin-albert commented on #31
It looks like the first beta is going fine for new.

Turns out the prototype was very close to production material and implementing the first beta mainly involved some refactoring and making the menu use `em` instead of `px` units.

If any problems show up with the beta we can open another issue for them, I am closing this now.

[2016-01-25 18:25] #31 closed

[2016-01-26 03:01] KidSysco commented on #39
I appreciate your offer for help on this part too.

Since you seem to understand how we can get the wiki into source control,
then perhaps you should just get that rolling. Even if you don't finish it
all.

I can work on putting the fiddle code into the Demo Page, updating images,
etc.

I do have an image ready, here it is...

[image: Inline image 1]

On Mon, Jan 25, 2016 at 12:06 PM, Benjamin Alb

[2016-01-26 03:55] benjamin-albert commented on #39
@KidSysco The image is not showing, try uploading it from GitHub (and not from your email).

[2016-02-01 19:47] KidSysco commented on #39
Heya Benjamin,

I have setup a GitHub page at the following URL.

https://kidsysco.github.io/jquery-ui-month-picker/

However, I have run into an issue. In IE only, if I hit the page, then scroll down a bit, then open up a month picker, the month picker shows up as far below the input as I scrolled. It only does this upon the first open of the menu. After that it works fine. I was wondering if you

[2016-02-01 19:48] KidSysco commented on #39
Even better yet. it does not behave this way in Edge. Only IE, only on MY web page.

Jeez I feel like I suck right now.

lol

[2016-02-01 22:50] benjamin-albert commented on #39
Everything looks grate on Chrome, Firefox and Safari on Mac, I'll take a look at the problem in IE the next time I'm near a windows machine (when I get to work tomorrow).

I think it would be nice to add hidden code examples that the user can show by clicking View source (like jQuery UI does with their demos).

I cannot properly clone the repository on windows because the `.md` files for the optio

[2016-02-02 10:41] benjamin-albert opened #40 "The menu isn't positioned correctly (only in IE with jQuery versions 1.12.0 and 2.2.0)"
Just as [you've described](https://github.com/KidSysco/jquery-ui-month-picker/issues/39#issuecomment-178152882) in #39 the month picker shows up as far below the input as you scrolled.

This bug only happens in **Internet Explorer** when you are using the latest versions of **jQuery (1.12.0 and 2.2.0)**.

Stay tuned as I dive into the details and figure out what's going wrong.

Until then I will u

[2016-02-02 11:00] benjamin-albert commented on #40
I just pushed  [index.html](https://github.com/KidSysco/jquery-ui-month-picker/blob/gh-pages/index.html) and looks like [everything is working fine](https://kidsysco.github.io/jquery-ui-month-picker/).

I'll update you when I can find time to figure out what's going wrong.

[2016-02-02 13:35] KidSysco commented on #40
OK it was the jQuery version. ok I see. Thanks for the help!

[2016-02-02 13:42] KidSysco commented on #39
I agree, some code samples would be cool like they do on the jQuery UI website.

I will add those next!

I am going to close this issue out for now too. If there are any other ideas you have for the documentation or GitHub Page or anything at all, open another issue! Thanks for all of your help here again, we are really starting to make this a very nice repo with all of your latest ideas!

[2016-02-02 13:42] #39 closed

[2016-02-02 13:51] KidSysco commented on #40
I wanted to be sure to document the issue for you. The issue only happens on the first click. That is the strange part. I looked at the code for a while and at the generated CSS. After the first click, everything works fine. I got as far as this article here. Not sure if it helps or not.

http://stackoverflow.com/questions/2834857/jquery-ui-datepicker-positioning-problem-when-scrolling-down-webpag

[2016-02-04 11:30] benjamin-albert commented on #40
I've spent some time debugging this issue and this bug seems to occur deep within the [.offset()](https://github.com/jquery/jquery/blob/29370190605ed5ddf5d0371c6ad886a4a4b5e0f9/src/offset.js#L101) method of jQuery core.

Because I can't spend more time at home debugging this I've discussed the details in an issue I've opened at the jQuery core repo (jquery/jquery#2897).

Even though we've fixed th

[2016-02-04 14:28] benjamin-albert commented on #40
As mentioned in jquery/jquery#2897 it looks like we aren't the only ones affected by this bug.

I will leave this issue opened until the jQuery core tram [releases version 1.12.1/2.2.1](https://github.com/jquery/jquery/milestones/1.12.1/2.2.1).

Until then we will have to tell people to **use version 1.11.3**.

If someone will open an issue about this **after** we close this issue (**version 1.12.

[2016-02-04 14:31] KidSysco commented on #40
ok I have updated the WIKI to show that 1.11.3 is the latest compatible
version.

I gotta get the ReadMe pointed to that here shortly.

r.

On Thu, Feb 4, 2016 at 8:28 AM, Benjamin Albert <notifications@github.com>
wrote:

[2016-02-04 14:33] KidSysco commented on #40
I also have Google open all day too. We can do the google hangouts chat too.

On Thu, Feb 4, 2016 at 5:30 AM, Benjamin Albert <notifications@github.com>
wrote:

[2016-02-04 14:44] benjamin-albert commented on #40
I really think we should add something like supported versions section in the Wiki.

When a user looks at browser and jQuery versions the main thing they are trying to do is answer the question _can I use this plugin?_

The user doesn't really care in what specific versions of jQuery we tested the plugin as long as we support there version.

I think we can say we support:
* jQuery version 1.9.1 an

[2016-02-04 14:46] KidSysco commented on #40
Yes, good idea. I am making an issue for this now so I dont forget.

On Thu, Feb 4, 2016 at 8:44 AM, Benjamin Albert <notifications@github.com>
wrote:

[2016-02-04 14:46] KidSysco opened #41 "Supported Versions Documentation"
I really think we should add something like supported versions section in the Wiki.

When a user looks at browser and jQuery versions the main thing they are trying to do is answer the question can I use this plugin?

The user doesn't really care in what specific versions of jQuery we tested the plugin as long as we support there version.

I think we can say we support:

jQuery version 1.9.1 and a

[2016-02-04 16:04] #41 closed

[2016-02-04 16:04] KidSysco commented on #41
done in the Home page of the wiki

[2016-02-04 18:00] benjamin-albert opened #42 "Fix broken links in the Wiki"
Since we've moved the ReadMe to the wiki it looks like links that refer to a [Fragment Identifier](https://en.wikipedia.org/wiki/Fragment_identifier) (a.k.a hash) in order to refer the user to another page in the documentation don't work and need to be updated.

[2016-02-04 18:31] benjamin-albert commented on #42
I noticed you fixed a lot of the links already.

I will still go and change them to relative links, this way if I clone/fork the Wiki reap it will point to the page in the fork.

[2016-02-05 15:06] KidSysco opened #43 "Fix broken links in demo page"
https://kidsysco.github.io/jquery-ui-month-picker/

Point to the wiki!

[2016-02-05 15:15] KidSysco opened #44 "Jump Years Fade In"
when I open the menu, then hover, it says Jump Years as it is supposed to... Then if I click Jump Years, and then choose a year. It seems like it no longer fades in to say Jump Years anymore after that first time I selected a year.

However, if I do not select a new year and I go back to 2016 instead, then it will fade in Jump Years.

[2016-02-05 15:40] #44 closed

[2016-02-08 14:07] benjamin-albert commented on #42
Looks like all the links are working now.

[2016-02-08 14:07] #42 closed

[2016-02-09 10:53] donkung opened #45 "Inline Menu isn't working on IE8"
When I open https://kidsysco.github.io/jquery-ui-month-picker/ in IE8.
The inline menu month picker isn't appear and there're alert "MonthPicker can only be called on text or month inputs"
This only happened in the actual IE8. The monthpicker in IE8 emulation on IE11 is still working.

[2016-02-09 11:04] benjamin-albert commented on #45
Stay tuned while I check if I can find a real IE 8 anywhere around in my company.

[2016-02-09 12:06] benjamin-albert commented on #45
Unfortunately the only place I can find a real Internet Explorer 8 is on one of our old production servers (where no one ever opens a web browser on, and there's no way the sysadmins will let me debug code on it).

I don't want to download a 3+ GB VM to my work computer.

@KidSysco Do you have a real IE 8 laying around where you can test (and debug this problem)?

[2016-02-09 12:35] #43 closed

[2016-02-09 13:39] KidSysco commented on #45
Ben and I have been discussing. I am downloading a real IE 8 on windows xp vm right now. Hopefully we will know more shortly. I will keep you posted.

[2016-02-09 17:09] KidSysco commented on #45
We just posted a fix for this now.

@donkung Can you try it again and let us know what you see?

IE8 users should not use Https.

Here is a link for you...

http://kidsysco.github.io/jquery-ui-month-picker/

let us know!

[2016-02-09 18:13] benjamin-albert commented on #45
I've opened an issue about the `$.inArray(void 0, ['text', 'month', void 0])` problem we were having in jQuery's repository, see: jQuery/jquery#2912

As @KidSysco has mentioned we've posted a workaround for this problem.

[2016-02-10 02:43] donkung commented on #45
The inline menu month picker is working on the real IE8 now.

Thank you very much!

[2016-02-10 02:43] #45 closed

[2016-02-10 06:49] benjamin-albert commented on #45
Thank you for opening an issue and helping us make this plugin better for everyone.

If you like this plugin please consider starring the repository, which will go a long way helping us get the plugin on [csnjs](https://github.com/cdnjs/cdnjs).

[2016-02-10 18:34] benjamin-albert opened #46 "Provide a working demo when you download a zip/clone the repo"
According to the [traffic graph](https://github.com/KidSysco/jquery-ui-month-picker/graphs/traffic) and [this comment](https://github.com/KidSysco/jquery-ui-month-picker/issues/35#issuecomment-168137979) in #35, it seems a lot of people are looking at the demo directory and expecting to find something useful and interesting, but instead they find two minified files that grunt generates that we use

[2016-02-12 14:52] benjamin-albert commented on #46
I'm going to move thing around a bit for this.

I'll discuss this in detail in the upcoming pull request.

[2016-02-12 14:56] benjamin-albert commented on #46
You can see the new project layout in the [demo branch in my fork](https://github.com/benjamin-albert/jquery-ui-month-picker/tree/demo).

[2016-02-12 19:04] KidSysco commented on #46
Very nice! Now THAT is a Demo folder with some good content in it!

I really like this layout! Great job, sorry I was not more help this week.

r.

On Fri, Feb 12, 2016 at 8:56 AM, Benjamin Albert <notifications@github.com>
wrote:

[2016-02-12 19:06] benjamin-albert commented on #46
I'm currently writing a pull request with the all the details.

[2016-02-16 17:54] #46 closed

[2016-02-16 18:22] benjamin-albert opened #48 "Add the plugin to the bower registry"
I'm still reading to see what this requires.

- [x] Add release tags to the repository.

[2016-02-17 18:10] benjamin-albert opened #49 "Fix broken demo on JSFiddle"
The demo on JSFiddle is missing one of the necessary CSS files and is not displaying the image icon (like it did before restructuring the project).

Please "pull" the changes from [this fork of the fiddle](http://jsfiddle.net/tft4zeww/2/).

**IMPORTANT:** Please Make sure you update the:
* External resources (added `test/test.css`).
* The CSS pane on the right.
* The fiddle's JavaScript pane (on t

[2016-02-18 15:32] aminix opened #50 "Selected month gets unselected after click in other place with jQuery-UI v1.11.4"
Hi,
I am using the inline version of the monthpicker.
`<div class="monthly-input"></div>`
Im using jQuery-UI v1.11.4 with jQuery v2.1.4.
1 - I click on one of the months and it is colored as selected (it has the ui-state-active class).
2 - As soon as I click outside the monthpicker the "ui-state-active" class is removed and the month looks unselected.
With jQuery-UI v1.9.2 works fine. Im using Chr

[2016-02-18 16:18] benjamin-albert commented on #50
Thank you very much for pointing this out.

I must admit that ever since we've released the beta of version 3.0 I've been impatiently waiting for someone to point out issues (that we couldn't find) in the jQuery UI Button hacks I've introduced in version 3.

But I'm surprised that this issue is occurring in a simple hack I've introduced long before version 3.

I can't wait to get home and look int

[2016-02-18 16:55] aminix commented on #50
Haha okay, thank you! I did a quick patch locally by changing from <button> to <span> in the js and it works fine, but you might want to fix it appropriately :P
Cheers.

[2016-02-18 17:30] KidSysco commented on #49
Done, let me know if you need anything else on this.

[2016-02-18 17:30] #49 closed

[2016-02-18 17:41] benjamin-albert commented on #50
I've tested this in Chrome, Firefox, and Safari and it seems that Chrome is the only browser that has this problem.

I have to admit it's nice to have an issue that only happens in a browser that is not Internet Explorer for a change :) (although I don't have a windows machine around to see if IE also has this problem).

[2016-02-20 12:15] #50 closed

[2016-02-20 12:15] benjamin-albert commented on #50
I've just pushed a commit that should fix this issue.

I would appreciate it if you could check out the new version and tell
us if it fixes the problem for you.

[2016-02-25 12:40] aminix commented on #50
It's fixed. Thanks!

[2016-02-25 12:55] benjamin-albert commented on #50
Thank you for opening an issue and helping us make this plugin better for everyone.

If you like this plugin please consider starring the repository, which will go a long way helping us get the plugin on [cdnjs](https://github.com/cdnjs/cdnjs).

[2016-02-26 06:02] benjamin-albert commented on #40
Look like [jQuery released 1.12.1/2.2.1](http://blog.jquery.com/2016/02/22/jquery-1-12-1-and-2-2-1-released/) and the blog says that they fixed the problem with `.position()` in Internet Explorer.

@KidSysco Can you upgrade the jQuery version in the demo to [1.12.1](https://code.jquery.com) and make sure the problem with Internet Explorer was fixed.

[2016-02-26 13:10] KidSysco commented on #40
I just checked and it looks good to me, that bug is fixed! I am going to push out the changes.

[2016-02-26 13:18] benjamin-albert commented on #40
That's great, I'm going to close this issue now.

[2016-02-26 13:18] #40 closed

[2016-02-27 16:30] benjamin-albert commented on #48
I'm going to take the plugin out of beta so bower because I guess it's about time and I don't want bower to make trouble to try to install an older non-beta version.

I'm only going to add one tag right now which points to version 3.0 because the repo won't install correctly for most users in older versions (because we require a specific version of jQuery 1.9.1).

[2016-02-27 17:24] benjamin-albert commented on #48
I think we'll be ready to add the plugin to the bower registry after I push a version bump to 3.0.0 and updates to `bower.json`.

The update to `bower.json` don't require the user to use jQuery 1.9.1, but will still install version 1.9.1 when installing for development (through `npm install`).

[2016-02-27 17:39] benjamin-albert commented on #48
I'm glad to announce that the plugin is now in the [bower registry](http://bower.io/search/?q=jquery-ui-month-picker).

Try it yourself by (optional):

    mkdir bower_tryout
    cd bower_tryout
    bower init

And the most important part:

    bower install jquery-ui-month-picker

This command will download and install all of the plugin files and it's dependences (jQuery and jQuery-ui).

Now we j

[2016-02-27 18:32] benjamin-albert commented on #48
I just updated the installation section of wiki.

@KidSysco Take a look and tell me what you think.

[2016-02-27 18:42] KidSysco commented on #48
Wow, this is big news! Absolutely brilliant work Ben as usual! I can't wait to go and try it out!

[2016-03-01 07:02] #48 closed

[2016-03-17 12:47] jwcurnalia opened #52 "OnChange event from input doesn't fire"
When you attach MonthPicker to an input with an OnChange event, the event does not fire after selecting a date.

[2016-03-17 12:49] jwcurnalia opened #53 "MonthPicker doesn't close when parent Dialog closes"
If the MonthPicker is open when the user closes its parent Dialog, the MonthPicker remains on screen.

[2016-03-17 13:11] benjamin-albert commented on #52
According to [change - Event reference | MDN](https://developer.mozilla.org/en-US/docs/Web/Events/change):

The change event is fired for `<input>`, `<select>`, and `<textarea>` elements when a change to the element's **value is committed by the user**. Unlike the input event, the change event **is not** necessarily fired for each change to an element's value.

You can use our [OnAfterChooseMonthE

[2016-03-17 13:12] #52 closed

[2016-03-17 13:14] benjamin-albert commented on #53
Thank you for bringing this up.

Stay tuned while I check jQuery UI's source to see what we can do about this.

[2016-03-17 13:16] KidSysco commented on #53
I was able to do this in the fiddle...

$('#Modal').dialog({
    autoOpen: false,
    title: 'MonthPicker Dialog Test',
    modal: true,
	  close: function( event, ui ) {
  	$('body').trigger('click');
  }
});

[2016-03-17 13:18] KidSysco commented on #53
One more thing about this Ben...

Instead of just clicking the body to hide the menu I originally wanted to just call our API for close...

$('.selector').MonthPicker('Close')

But when I did that in the fiddle it did not seem to work.

I still look forward to hearing about how this issue is normally dealt with in jQuery UI plugins.

[2016-03-17 13:20] benjamin-albert commented on #53
I have'n looked at the code yet but I suspect this problem occurs because they call `event.stopPropagation()` on the close button's click event.

[2016-03-17 13:24] benjamin-albert commented on #52
Another important note the `change` and other _catch value change DOM events_ don't work in ancient browsers such as IE 8.

But our [OnAfterChooseMonth](https://github.com/KidSysco/jquery-ui-month-picker/wiki/Events#onafterchoosemonth) Event will work even in ancient browsers.

[2016-03-17 13:30] KidSysco commented on #52
I see what Ben is saying here. His recommendation is to remove your onChange event and put the code for it into the OnAfterChooseMonth handler.

[2016-03-17 13:41] benjamin-albert commented on #53
Looks like I've found the culprit, see: [ui/widgets/dialog.js#L438](
https://github.com/jquery/jquery-ui/blob/9644e7bae9116edaf8d37c5b38cb32b892f10ff6/ui/widgets/dialog.js#L438).

[2016-03-17 15:22] benjamin-albert commented on #53
Looks like this is happening not just because jQuery UI calls `event.preventDefault()` but because we check if `event.isDefaultPrevented()` in [the Close() method](https://github.com/KidSysco/jquery-ui-month-picker/blob/2cc0d64955ca73dde70d942fabe614f93f2b3523/src/MonthPicker.js#L593).

I'm thinking we can clone the event and make sure `event.preventDefault()` was called from within the `OnBeforeM

[2016-03-21 09:53] mediabakery opened #54 "Which is the current version of your licence?"
Hey Benjamin,

in your `package.json` you list **LGPL-2.1** as the current licence version. But in `MonthPicker.js` you mention **GNU Lesser General Public version 3.0 **.

What is the correct licence version?

Thanks a lot!
Sebastian

[2016-03-21 10:20] benjamin-albert commented on #54
When I look in `MonthPicker.js` it looks like it says:

And then a few lines after that it says:

When I added the licence property to the `package.json` file I saw that LGPL-2.1 was the closest match.

@KidSysco Can you tell us what is the correct licence and update the appropriate file.

[2016-03-21 10:32] benjamin-albert commented on #54
I see a lot of repositories that have a `LICENSE` file.
I think when you create a repository on GitHub you can create it with a `LICENSE` file.

I think we should add one to the repository.
@KidSysco Tell me what you think.

[2016-03-21 13:35] KidSysco commented on #54
Ben and I have been chatting about this on Slack, I am going to change this out to the MIT license shortly.

[2016-03-22 08:53] mediabakery commented on #54
@KidSysco sounds great! Thanks!

[2016-03-22 13:25] KidSysco commented on #54
OK it should be ready to go, we decided on GPL 3.0, updated all references and added a LICENSE.txt file. Let us know if you find any other legal issues. Thanks!

[2016-03-22 13:25] #54 closed

[2016-03-30 00:12] bryner84 opened #55 "Returning value as date?"
Is it possible to save the selection as a date value? I see this as returning the last day or first day of the selected month.  Right now the Request value of this field is something I have to parse out to convert to a date value to query a database for a given month.

I apologize if this isn't the correct place to pose the question.

[2016-03-30 06:25] benjamin-albert commented on #55
You'r in the right place to ask questions like this which can help us improve our documentation and provide better examples for everyone.

If you want to get a [JavaScript Date](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date) object representing the selected value you can use the `$('.selector').MonthPicker('GetSelectedDate');` method on the client side.

But as

[2016-03-30 06:38] benjamin-albert commented on #55
I'm **really really** busy at work.
@KidSysco Can you add the [example fiddle](http://jsfiddle.net/nvrnkkbf/1/) I created to the deom page and fiddle?

[2016-03-30 13:17] KidSysco commented on #55
Yeap, no problem!

[2016-03-30 13:25] KidSysco commented on #55
I agree, this question is solved quite well with Ben's fiddle. I was able to modify it like this to get it to output the first day of the month in mm/dd/yy format. Nice touch with the unix format there Ben! Let us know if you have any other questions @bryner84.

Here is the code I used...

[code]

[2016-03-30 13:27] KidSysco commented on #55
Leaving this ticket open until I can update the demos with these examples, I will do standard american date format, Unix Format, and ODBC format.

[2016-03-30 13:27] bryner84 commented on #55
Thanks for the info.  Issue resolved.

[2016-03-30 13:32] bryner84 opened #56 "Setting MinMonth"
When specifying a date string for `MinMonth` it appears I need to add a day to get the result I'm looking for.

When I specify `MinMonth: new Date("2010-01-01")` I can select an option for Dec 2009.  I've worked around this by setting `MinMonth: new Date("2010-01-02")`.

This isn't a huge issue, but a FYI.

Thanks for writing this plugin.  Exactly what I needed.

[2016-03-30 13:42] benjamin-albert commented on #56
If I understand correctly you'r not passing in a `String` you are passing in a `Date` object.

You don't need to wrap the `MinMonth` in a `Date` object you can just pass in the string (without the unnecessary day of month) like this:

    $('.selector').MonthPicker({
        // Must be in format specified in the MonthFormat option (this is the default format).
        MinMonth: '01/2010'
     });

[2016-03-30 13:45] bryner84 commented on #56
I can do some formatting of my input, but I'm trying to leave things as native dates as this is how everything is saved in the database.

[2016-03-30 13:50] KidSysco commented on #55
Leaving this ticket open until I can update the demos with these examples, I will do standard american date format, Unix Format, and ODBC format.

[2016-03-30 14:16] KidSysco commented on #56
I grow so tired of date formatting back and forth between various systems. Whoever created that ODBC date format needs to be kicked in the shins. This is an interesting work around you have come up with here. I am glad it worked for you! Not sure it is worth changing any code for this but I can at least document the work around in the wiki.

[2016-03-30 14:19] bryner84 commented on #56
You and me both.  Feel free to close if you see fit.

[2016-03-30 14:36] benjamin-albert commented on #56
I think it's worth noting that according to [Date - JavaScript | MDN](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date).

[2016-03-30 14:41] benjamin-albert commented on #56
I also don't understand what you save by converting the date string into a JavaScript Date object.
You'r trying to avoid the two lines for code it takes to format the database date?

[2016-03-30 14:46] benjamin-albert commented on #56
BTW I can't reproduce the issue with `new Date("2010-01-01")` becoming December 2009.

I guess this has something to do with browser inconsistencies or my timezone.

[2016-04-19 13:05] #53 closed

[2016-05-04 15:41] KidSysco commented on #55
demo updated, closing.

[2016-05-04 15:41] #55 closed

[2016-05-26 15:12] tierrarara opened #59 "set SelectedMonth Options not update Alternative Field"
Hi Guys,

After execute

    $().MonthPicker('options', 'SelectedMonth', 'mystringmonth')

alternative field keep old value
I don't know if this is a issue o normal behavior
i try update _setSelectedMonth

    _setSelectedMonth: function (_selMonth) {
            var month = _encodeMonth(this, _selMonth), _el = this.element;

            if (!month) {
                _el.val('');
                t

[2016-05-26 15:34] KidSysco commented on #59
This looks like a bug to me. I will let Ben suggest a fix.

Ben, when you are done, let me know if you want a test for it and I will do it.

[2016-05-27 07:16] benjamin-albert commented on #59
Stay tuned for a pull request

[2016-05-31 19:51] #59 closed

[2016-09-23 19:47] tenshi04 opened #64 "Set only specific months selectable"
Not really an issue - but I was wondering if there was a way to maybe pass json to specify which months are selectable? ie. I want the user to be able to select a month based on a set of 'valid' months.

[2016-09-23 21:25] benjamin-albert commented on #64
Take a look at the [MinMonth](https://github.com/KidSysco/jquery-ui-month-picker/wiki/MinMonth-Option) and [MaxMonth](https://github.com/KidSysco/jquery-ui-month-picker/wiki/MinMonth-Option) options.

[2016-09-23 21:35] tenshi04 commented on #64
Can you provide an example where I can say something like such:

Cannot select: Feb 2015, March 2015, May 2015, June 2015, August 2015, Sept 2015, November 2015, Dec 2015
Can select:  Jan 2015, April 2015, July 2015, October 2015

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Friday, September 23, 2016 3:26 PM
To: KidSysco/jquery-ui-month-picker
Cc: Angelbert David; Author
Subject:

[2016-09-23 21:54] benjamin-albert commented on #64
There is no built in support for disabling arbitrary months (and as far as I'm aware neither does jQuery UI Datepicker).

However it might be possible to use some of the [many events] this plugin offers to disable the month buttons.

Stay tuned while I try to make a fiddle for this.

@tenshi04 An example of the JSON coming from your server with the selectable months can help me provide a better ex

[2016-09-23 23:41] benjamin-albert commented on #64
Here is a working (in Chrome) [fiddle](http://jsfiddle.net/8x4nnvsj/4/) with a quick and dirty example of how to do this.

It was a bit more complicated then I originally thought because the `OnBeforeMenuOpen` event is triggered before the menu is properly setup, which means you need to subclass the plugin and override the `Open` method.

[2016-09-23 23:47] benjamin-albert commented on #64
Another thing to note, this example requires some refactoring to work properly if you have more than one instance of MonthPicker that requires this functionality on the page.

[2016-09-24 01:39] tenshi04 commented on #64
I’ll definitely give it a try. I only need one month-year picker on the page so that makes things easier.

Thank you!

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Friday, September 23, 2016 5:48 PM
To: KidSysco/jquery-ui-month-picker
Cc: Angelbert David; Mention
Subject: Re: [KidSysco/jquery-ui-month-picker] Set only specific months selectable (#64)

Another thing to note, this e

[2016-09-25 21:06] KidSysco commented on #64
Very nice code Ben. I never thought I would see anyone using those events. Your key system is very well put together. I never would have thought of that. Very impressive.

[2016-09-26 14:47] tenshi04 commented on #64
I got it setup but having issues disabling the buttons with this line I believe:

$('.button-' + i, menu).button({ disabled: !allowed[key] });

I believe this should work, as it loops through and should keep the specified buttons enabled, however it does not seem to disable the others. Trying to debug through to see what I may be missing.

Angel

From: Benjamin Albert [mailto:notifications@github.

[2016-09-26 14:52] KidSysco commented on #64
Yes, this approach does work as we can see in the fiddle.

Put together a fiddle and we can take a look.

[2016-09-26 18:06] tenshi04 commented on #64
I think there may be a slight bug when you click the year jump button. The enabled buttons doesn’t keep.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Friday, September 23, 2016 5:48 PM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.com>
Subject: Re: [KidSysco/jquery-u

[2016-09-26 19:54] tenshi04 commented on #64
How can I update the calendar’s Selected Month through code (jquery)?

Ex) some sort of click event on a graph, I want to set the month on the month-picker.

Thanks in advance.

From: Ryan Segura [mailto:notifications@github.com]
Sent: Sunday, September 25, 2016 3:07 PM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>;

[2016-09-27 06:16] benjamin-albert commented on #64
You can set the selected month using the [SelectedMonth option](https://github.com/KidSysco/jquery-ui-month-picker/wiki/SelectedMonth-Option)

[2016-09-27 06:37] benjamin-albert commented on #64
I've updated the [fiddle](http://jsfiddle.net/8x4nnvsj/5/) to address the issue with the Jump years button.

[2016-09-27 14:58] tenshi04 commented on #64
Thanks! This awesome.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 12:38 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.com>
Subject: Re: [KidSysco/jquery-ui-month-picker] Set only specific months selectable (#64)

I've updated the fiddl

[2016-09-27 15:01] tenshi04 commented on #64
I’m trying to do something like this:

$('#month-date-selector').MonthPicker('option', 'SelectedMonth', monthSelectorDate);

Where monthSelectorDate = “2007-01”

I have initialized the picker to have a format of yy-mm

When I try to make a call to set the selectedmonth, I get the following error:

Uncaught Error: cannot call methods on MonthPicker prior to initialization; attempted to call method

[2016-09-27 15:15] benjamin-albert commented on #64
@tenshi04 Can you setup a fiddle that reproduces this problem?

[2016-09-27 15:30] tenshi04 commented on #64
I’ll see if I can. It’s part of a larger project but I’ll try to pull out the essentials to put it in a fiddle.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 9:16 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.com>
Subject: Re: [KidSysco/

[2016-09-27 16:27] tenshi04 commented on #64
Give this one a try.

http://jsfiddle.net/99n6yjqe/2/

I just copied your fiddle and added a button that should set the monthpicker.

Angel

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 9:16 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.

[2016-09-27 17:28] benjamin-albert commented on #64
I've updated [you're fiddle](http://jsfiddle.net/99n6yjqe/3/).

There were two issues there:

1. Since I subclassed `MonthPicker` you must call `$('.selector').ArbitraryMonthPicker()`.
2. You need to change your date string from `2016-08` to `08/2016`.

[2016-09-27 17:33] tenshi04 commented on #64
For 2. What if the format that I had set on my own version was yy-mm ? Do we always need to set it as mm/yy ? ex) 08/2016 ?

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 11:29 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.com>
Subject: R

[2016-09-27 18:07] benjamin-albert commented on #64
Assuming you set the `MonthFormat` option to `yy-mm`, you can pass ` 2016-08` to the `SelectedMonth` option.

I just pointed that out because it was an issue with the specific fiddle you sent us.

[2016-09-27 18:11] tenshi04 commented on #64
Yes you’re right. I forgot to set the MonthFormat in the fiddle I sent.

So basically, I send the SelectedMonth in the same format as the MonthFormat.

Got it, I’ll give it a try.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 12:07 PM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov

[2016-09-28 20:45] tenshi04 commented on #64
Hi Benjamin,

I am still working to setup a fiddle to re-create my issue with not being able to disable months, to mimic my scenario as much as possible.

Until then, I’d still like to ask about this particular line of code:

$('.button-' + i, menu).button({ disabled: !allowed[key] });

Can you explain to me what is actually happening here? I understand that we loop through all the 12 buttons and

[2016-09-28 20:55] tenshi04 commented on #64
Not sure if this may affect it, but I am using jQuery 1.11.2

Angel

From: Angelbert David
Sent: Wednesday, September 28, 2016 2:45 PM
To: 'KidSysco/jquery-ui-month-picker' <reply@reply.github.com>; KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [KidSysco/jquery-ui-month-picker] Set only specific months selectable (

[2016-09-28 21:57] tenshi04 commented on #64
I think I figured it out with the help of this article:

http://stackoverflow.com/questions/34344237/button-jquery-ui-not-working

jquery ui button and bootstrap button weren’t playing nice.

I had to add this to my code:

(function() {
  var bootstrapButton = $.fn.button.noConflict();
  $.fn.bootstrapBtn = bootstrapButton;
}());

Hope this helps someone else.

Angel

From: Angelbert David
Sent: W

[2016-09-29 16:18] KidSysco commented on #64
Interesting, there have been other bootstrap conflicts that we have run into before. This one is new. I kinda wish BootStrap would have just adopted  jQuery UI. Or that jQuery UI had adopted some sort of BootStrap type of mobile layout. Because it will soon get to be obvious that folks are going to try to use both together.

I think it was pretty silly for the Bootstrap group to ignore jQuery UI w

[2016-09-29 16:30] benjamin-albert commented on #64
It's actually the exact same issue we had in #35.

We work around this issue in our code, but I don't workaround it in the example I setup.

[2016-09-29 16:37] benjamin-albert commented on #64
Another thing to note the workaround we use in our code is a private implementation detail and should not be used outside our code.

[2016-09-30 12:47] KidSysco commented on #64
@tenshi04 - If you don't mind me asking... Let's just call it a little market research.

I am assuming that you had a BootStrap based app already, then you needed a month picker. So you installed jQuery UI and this plugin next, which lead you to this problem.

Is that a fair assumption? Any insight you could provide is appreciated!

Thanks,

-Kid

[2016-09-30 14:14] tenshi04 commented on #64
That is correct.

We were working on a Bootstrap based app and a requirement came in to be able to select distinct months (hence, the need to define which months are selectable). I added the plug-in, and for the most part everything was working out of the box except for the ability to set the disabled state to the button.

From: Ryan Segura [mailto:notifications@github.com]
Sent: Friday, September

[2016-10-04 14:42] tenshi04 commented on #64
Here’s another question for you guys – on the header, it says Year 2016 for example. How can I change this to just say 2016? Is there an option?

Thanks.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Thursday, September 29, 2016 10:37 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention

[2016-10-04 14:55] benjamin-albert commented on #64
Take a look at the [Multiple Language Support](https://github.com/KidSysco/jquery-ui-month-picker/wiki/Multiple-Language-Support) section of our wiki, It explains how to swap out any text used in the plugin.

Here is a quick example:
[code]

[2016-10-04 14:58] tenshi04 commented on #64
If I actually set it to '', it defaults it back to Year 2016.
If I set it to ‘Hello’, it sets it to Hello 2016, which is fine.
If I set it to ' ', then it ‘appears’ to be 2016 with the extra space I think preceding?

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, October 04, 2016 8:56 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Ang

[2016-10-04 15:05] KidSysco commented on #64
That is what my tests show too. If it is blank, then the word Year still shows.

[2016-10-04 15:06] benjamin-albert commented on #64
Ouch.  You're right.

This is because it uses this common JS trick:
[code]

An empty string is a `falsy` value in JavaScript so it uses the default value.

I'll open I pull request to fix this when I can find time for that.
Until then try this:
[code]

[2016-10-04 15:26] tenshi04 commented on #64
Thanks for the quick reply.

From: Benjamin Albert [mailto:notifications@github.com]
Sent: Tuesday, October 04, 2016 9:06 AM
To: KidSysco/jquery-ui-month-picker <jquery-ui-month-picker@noreply.github.com>
Cc: Angelbert David <Angelbert.David@gov.ab.ca>; Mention <mention@noreply.github.com>
Subject: Re: [KidSysco/jquery-ui-month-picker] Set only specific months selectable (#64)

Ouch. You're right.

[2016-10-07 13:35] KidSysco commented on #64
Latest fix merged and we created a new release so we should be ready to close this one out now. Let us know if anything else comes up and thanks for your feedback!

[2016-10-07 13:35] #64 closed

[2016-10-07 17:03] benjamin-albert commented on #64
@tenshi04 Thank you for opening an issue and helping us make this plugin better for everyone.

If you like this plugin please consider [Starring this repo](https://github.com/KidSysco/jquery-ui-month-picker/stargazers), It will go a long way helping us get this plugin on [cdnjs](https://cdnjs.com).

[2016-11-22 17:34] lillo42 opened #66 "Multi select month"
Hi,
It's possible select multi month ?
If not, Can I try implement?

[2016-11-22 17:48] KidSysco commented on #66
Wow, this would be a neat feature and it gets me thinking about lots more cool options that I never thought about before.

You are more than welcome to try to implement it yourself. Ben and I will review the code and make suggestions. Feel free to ask us for any help you may need.

[2016-12-30 13:12] NT-Christ opened #68 "Add to NPM"
Please add this package to NPM so we can all auto update it from npm.

Thanks!

[2016-12-30 19:06] benjamin-albert commented on #68
@NT-Christ Good idea.

@KidSysco Can you create a user on NPM and [publish a package](https://docs.npmjs.com/getting-started/publishing-npm-packages)?

I already did this once if you need help feel free to reach me on Slack.

[2017-01-11 08:54] dasguptahirak opened #69 "setting current month/year"
Thanks for this nice api :+1:

I want to set current month/year on load event of MonthPicker control.
How to do that?

This is the way I am trying:
`$('#select_month_year').MonthPicker({ Button: false }).MonthPicker('setDate',new Date());`

But its not working. Kindly help.

[2017-01-11 15:41] KidSysco commented on #68
Yea sorry, I got tied up with the holidays, getting back into the swing of things now. I will keep you posted.

[2017-01-11 15:49] KidSysco commented on #69
Hello dasguptahirak,

We can set the start year that the picker will default to when activated by the user by using the StartYear option...

https://github.com/KidSysco/jquery-ui-month-picker/wiki/StartYear-Option

like this...

`$('#select_month_year').MonthPicker({ StartYear: 2023 });`

If you wish to also set the default month, just set the value like this...

`$('#select_month_year').val('02/2

[2017-01-11 15:56] KidSysco commented on #66
Closing this one out for now, we have a pull request being reviewed for this one.

[2017-01-11 15:56] #66 closed, assigned to nobody

[2017-01-17 19:08] #69 closed, assigned to nobody

[2017-01-31 05:36] bsienn-khan opened #70 "Typo in MaxMonth Wiki"
https://github.com/KidSysco/jquery-ui-month-picker/wiki/MaxMonth-Option

The min and max month wikis seems duplicate of each other.  The options parameter in example of maxmonth says minmonth.

[2017-01-31 20:19] KidSysco commented on #70
Good catch! Thank you! I like it when the fixes are easy like this! lol

The wiki has been updated, closing this one out.

[2017-01-31 20:19] #70 closed, assigned to nobody

[2017-02-01 10:47] bsienn-khan commented on #70
@KidSysco
A little one more. Thanks for the plugin. I would love to see improved documentation, like live samples with relevant code snippets along. something like jquery does with its docs. If I were half the programmer like you, I would really love to participate and help.

![untitled](https://cloud.githubusercontent.com/assets/3149876/22503773/1925c892-e895-11e6-9dcc-ac99fbb643d9.png)

[2017-02-08 15:48] KidSysco commented on #70
Thanks again for posting this, your curation helps a great deal!

You don't need to be a good programmer to contribute in many meaningful ways.

However, something is telling me that you are selling yourself short.

If you are interested in helping, we always have stuff around here that needs to get done, your idea for documentation is a fine one, there is just not enough time in the day to do eve

[2017-02-08 18:00] benjamin-albert commented on #70
@bsienn Thank you for opening an issue and helping is make this project better for everyone.

[2017-02-08 18:03] benjamin-albert commented on #68
@KidSysco Any chance you can take a look at this.

Tell me if you'd prefer I publish the plugin to NPM.

[2017-02-08 19:06] KidSysco commented on #68
I am glad you brought this up. I did look at it and I was not very interested in messing with it.

It looks like it will change the way we deploy builds and tags a bit. I was not sure we needed another dependency like this just because some folks wish to use NPM for client tools.

I admit it would be a fair offering, but I am just not sure how many folks are really interested in this.

If you want

[2017-02-08 19:26] benjamin-albert commented on #68
This adds a few simple steps to deployment that can be automated using Travis-CI:
1. Bump the version in the package.json by running npm version patch (which I anyway do manually when I bump the version in the JS file).
2. Run npm publish

Take a look at [npm Releasing - Travis CI](https://docs.travis-ci.com/user/deployment/npm/) which you can setup to do this automatically when we add a release o

[2017-02-08 19:31] benjamin-albert commented on #68
I've been involved in a few projects that use npm for front-end dependencies and since then I've been expecting this feature request.

I also expect more projects to prefer have only one dependency manager instead of two.

[2017-02-08 23:05] benjamin-albert commented on #68
@KidSysco If you don't want to deal with setting this up, just tell me. Feel free to reach me on [Slack](https://jqueryui-month-picker.slack.com).

[2017-02-09 10:10] bsienn-khan commented on #70
@KidSysco I would love to participate in this project. Let me know how I can be of help. You can contact me on adeel.cs@gmail.com

[2017-02-09 13:50] KidSysco commented on #68
Having never done this, or had the need. I am not comfortable with it or what it will do to the release process. When reading through the docs, I started to get confused about how to tag and release and that bothered me. So I lost interest. I was not going to do it without your approval either. No matter what happens here, we both need to be able to conduct a release.

If you want to do it, then I

[2017-02-09 13:53] KidSysco commented on #68
I never thought of integrating this with Travis CI either. That is a really good idea.

[2017-02-10 18:21] benjamin-albert commented on #68
OK I'll publish the plugin to NPM.

Once I setup Travis-CI the release process should be identical to our current steps to release (run grunt + make a release on GitHub).

I'll still add a document explaining how to make a release.

[2017-02-21 13:35] KidSysco commented on #70
@benjamin-albert what do you think? @bsienn had mentioned adding examples to the docs like they do on the jQuery UI site. Take a look here.

https://jqueryui.com/draggable/

For every option they show a usable demo of that option working.

There are a lot of options here. So this is a lot of work. Which is why it has not been done.

If the docs were made like the Query UI docs, then we would not n

[2017-02-21 13:41] KidSysco commented on #70
I was looking at it again. Our gh-pages branch is much like the jQuery ui demo pages, then our Wiki functions as their API documentation. So I guess our docs are fairly similar. ALthough I am open to ideas here, I'm not sure it is needed. Any input is appreciated. What about chasing down some of those open pull requests? Just another idea.

[2017-02-28 05:38] bsienn-khan opened #71 "No buttun selection bubbles on multiple click"
feature request.

Accidentally or intentionally clicking inside date input without button makes the date calendar bubbles and reset. Same for buttons options.
Sometimes due to faulty or sensitive mouse clicking this bubbling seems awkward.
Would be nice if the bubbling stops after first click if calendar is already visible.

[2017-03-01 16:51] KidSysco commented on #71
Good input, I see what you mean.

@benjamin-albert you can reproduce this behavior by visiting our demo page...

https://kidsysco.github.io/jquery-ui-month-picker/

Then clicking the text input box for No Button.

Once the menu appears, click the text input for No Button again.

You will see the menu disappear and re-appear.

I know you are working on the NPM package and this is not critical, so l

[2017-03-01 19:06] bsienn-khan commented on #71
@KidSysco Seems like a plan. I'll start with unit testing and setup dev environment and start on this issue.
When everything gets on track and I get to the solution I'll try the PR. This might take some efforts but I'll manage it. Thanks

[2017-03-01 19:31] benjamin-albert commented on #71
I'm sorry that I'm not as responsive as I usually am.

3 Months ago my dream of relocating to San Francisco came true.

1 Month ago this (and other open source projects I contribute to) had a huge impact on helping me get my dream job at this awesome startup called [Casetext](https://casetext.com/about).

Feb 23rd I moved into my dream apartment in the Mission Bay Area of San Francisco.

I am curr

[2017-03-01 19:55] bsienn-khan commented on #71
Wow @benjamin-albert Really happy for you. And I wish you all the best in your life.  I hope to see you around the FOSS word.  Have a great time :)

[2017-03-01 20:00] benjamin-albert commented on #71
@bsienn Thanks. You will definitely see me around this and hopefully other projects when this  "marathon" is over.

[2017-03-01 20:12] KidSysco commented on #71
Great job BEN!!!! So Awesome and I am so happy for you! I know you will be an awesome asset to any team that picks you up.

No worries, you do your thing and I gotta find a way to get to S.F. one of these days to say hi now that you are in the US. I would really like to buy you a beer! LOL!

I was in Portland last weekend, lots of family there so you never know.

[2017-03-01 20:23] benjamin-albert commented on #71
@KidSysco Sure! Feel free to reach out to me if you are in the Bay Area.

LOL! beer sounds good!

[2017-03-01 21:29] KidSysco commented on #71
@bsienn, sounds great! Let me know if you have any questions. I look forward to working with you!

[2017-03-16 16:22] wallenium opened #72 "Next and Previous Buttons disabled when using jQuery UI 1.12"
Hi Folks,
I have a small tester here: http://kompsoft.de/test/eqdkp/ajax/calendarmonthcheck/demos/basic-views.html

if you click on the month Name in the Header, the monthpicker Shows up. All working. Only Thing currently not working is the previous and next button. These Buttons are disabled.

Any idea? Maybe fullcalendar intereferes with the Dates?

[2017-03-16 19:22] KidSysco commented on #72
Hello Wallenium,

I was able to put together a fiddle that shows everything working very nicely together. I was unable to spot the problem in your code, it should work fine. But I am unable to debug your code on your site, this is why we usually try to work in JS FIddle, so we can collaborate on code together.

Take a look at the fiddle I have put together here and see if you can adjust your code

[2017-03-16 19:26] KidSysco commented on #72
Nice job BTW. That is a very interesting UI and I don't think anyone here has EVER thought of using the month picker like you are doing here. This is very clever and creative thinking you are doing here. Good job!

@benjamin-albert  @bsienn - You guys should take a look at what Wallenium is doing with the plugin when you get a chance. I always find it very rewarding when someone uses technology in

[2017-03-16 19:37] bsienn commented on #72
Nice work using month picker with calendar.
The `ui-state-disabled` class disables the buttons. I'm not sure how that got there, but as KidSysco have it in jsfiddle. Its working fine.  @KidSysco . I'm still in the project, just finishing few pending task so I can work in weekend on it. Good Day

[2017-03-16 19:46] KidSysco commented on #72
Yes, I totally agree with you. I see no reason as to why the ui-state-disabled class was being added.

Most importantly, have FUN while coding this weekend @bsienn!

[2017-03-16 20:51] benjamin-albert commented on #72
@wallenium Thank you for opening an issue and helping us make this project better for everyone!

This is happening because (as I've mentioned in #38) my jQuery UI button hacks do not work with the revamped CSS of jQuery UI 1.12 or greater.

When I opened #38 jQuery UI 1.12 was still in Bate and I decided to wait until a user runs into this as an issue before writing support for jQuery 3 and jQuery

[2017-03-16 20:54] benjamin-albert commented on #72
I guess we can also mention this in the installation section of the Wiki.

[2017-03-16 23:02] wallenium commented on #72
First: thanks a lot fit your help. Pretty impressive

@benjamin-albert sadly downgrade is not an Option for us.. if there is a workaround, would be Great if You Could share it :) not sure why not supporting the latest ui Version.

Kind regards
Simon

[2017-03-16 23:14] bsienn commented on #72
@wallenium  This would work

[code]

[2017-03-16 23:27] benjamin-albert commented on #72
@wallenium I am planning to implement support for jQuery UI 1.12 as soon as I finish setting up my apartment.

This should happen sometime at the beginning of April (next month).

In the meanwhile you have a few of options:
1. Implement support for jQuery UI 1.12 and open a Pull Request **(best approach)**.
2. Use DOM and [plugin events](https://github.com/KidSysco/jquery-ui-month-picker/wiki/Even

[2017-03-17 08:43] wallenium commented on #72
i Chose Option 1. Might not be the best implementation, but works for me. Feel free to improve it further.

by the way: http://kompsoft.de/test/eqdkp/ajax/calendarmonthcheck/demos/basic-views.html

Is now a bit better styled than before ;)

[2017-04-22 16:29] Iznogood1 commented on #72
Hi All,
not sure to be on topic (it's my fisrt time in github)

To fix the issue with jqueryUI 1.12, I have just commented the lines starting with **__setDisabled(this.prev_Button_** and **__setDisabled(this.next_Button_**

And I also made some updates of the MonthPicker.css file to fix display issues:
[code]

[2017-04-24 00:34] benjamin-albert commented on #72
@Iznogood1 Welcome to GitHub!

Whenever you want to propose changes on GitHub you:
1. Check and read this issues. If you read this issue you'll notice [there is an open pull request](https://github.com/KidSysco/jquery-ui-month-picker/issues/72#ref-pullrequest-214939398) which means someone is already working on resolving the issue with `_setVisiblity()`.

2. If you can't find an open pull request

[2017-04-27 03:56] qcsystudio opened #74 "Do they support an other lanuage?"
hi.
  I want to know whether the widget support an other lanuage or not? just like chinese.if support what should i do?

[2017-04-27 05:00] benjamin-albert commented on #74
Please read the [Multiple Language Support](https://github.com/KidSysco/jquery-ui-month-picker/wiki/Multiple-Language-Support) section of the projects WiKi.

[2017-04-27 05:03] #74 closed, assigned to nobody

[2017-06-05 18:19] scottgonzalez opened #75 "Prep for jQuery UI Datepicker rewrite"
Datepicker is undergoing a complete rewrite with a new API. You can see the new API and some notes on the [planning wiki](http://wiki.jqueryui.com/w/page/12137778/Datepicker). You can also test out the code in the [datepicker branch](https://github.com/jquery/jquery-ui/tree/datepicker).

Let us know if you have any questions or if there are any extension points that would make it easier to impleme

[2017-06-05 18:24] benjamin-albert commented on #75
@scottgonzalez Cool! I'm exited to take a look!

[2017-06-06 14:12] KidSysco commented on #75
Agreed, thanks for the heads up and we appreciate the offer for support!

[2017-06-07 15:02] KidSysco commented on #75
Hi @scottgonzalez,

I thought about it quite a bit last night and I noticed that you are looking to support the Month Input type with the new DatePicker. I mean no disrespect because I have been following your work for years, but the reason this repo exists, is because we felt the functionality is missing from the Date Picker.

It is not a huge need, granted, but there is a small steady steam of f

[2017-06-07 15:07] KidSysco commented on #75
Also, if you get a chance, take a look at the HTML 5 Month Picker support built into Google Chrome. I just checked and it is still the same.

https://github.com/KidSysco/jquery-ui-month-picker/wiki/HTML-5-Month-Input-Support

This seems like something that might be interesting to you.

[2017-06-07 17:35] scottgonzalez commented on #75
We discussed this in the jQuery UI meeting today with @benjamin-albert. We don't plan on building this support directly into the datepicker widget, but we would like to make it possible to support the various HTML5 date types via extensions. After today's discussion, it's still not clear whether this plugin (with its current design) would benefit from being an extension rather than just a new widg

[2017-08-06 10:18] ianthedev opened #76 "Suggestion: an option for changing the easing function of the animation"
It would be nice if we could have an option for changing the easing function of the opening/closing animation of the calendar.

[2017-08-26 14:56] andrechalom commented on #68
Hi! I've tried installing this package with `npm install --save jquery-ui-month-picker`, but it fails if bower is not installed:

Is this expected?

[2017-08-28 15:31] KidSysco commented on #68
I don't think the NPM integration is working. Just use the normal install guides for now.

https://github.com/KidSysco/jquery-ui-month-picker/wiki

[2017-09-04 10:01] joselu1sc opened #77 "How to disable some dates?"
Hello,

We found this date picker based on JQuery UI. So it is very cool component, but we did not found any option to disable some dates.

Actually, we need this feature to disable some taken dates of our calendar. Is this option available in new versions?

Best regards,

Jose Luis

[2017-09-04 10:19] benjamin-albert commented on #77
When your saying dates I'm assuming you mean months.

There is no built-in option for this. However you can achieve this using events and extension points.

Here is a fiddle that demonstrates how to do this: http://jsfiddle.net/8x4nnvsj/4/

The fiddle is kind of a quick hack put together in #64

The implementation shown in the fiddle will not work properly if there is more than one MonthPicker ins

[2017-09-04 22:19] joselu1sc commented on #77
That is great!

Thank you!

[2017-10-23 13:59] GreggOrdHume opened #78 "OnLoad event?"
Hello,

Thanks for the plugin, its saved me a massive amount of time and was easy to implement :)

I have a situation where i need an onLoad event.

For the example below, I set a data attribute of the input when `OnBeforeMenuClose`. I want to set the data attribute when onLoad of the datePicker happens (because i have `selectedMonth:` set). Similar to ChartJs's event `afterDraw`.

So i would have

[2017-10-23 17:47] benjamin-albert commented on #78
@GreggOrdHume Use the jQuery UI widget `create` event.

Also note you should:
* bind a `change` event to the filed to support the user manually changing the value in the input field.
* use the [GetSelectedDate](https://github.com/KidSysco/jquery-ui-month-picker/wiki/API-Methods) method (instead of `this.value`) which will return `null` if the user manually typed in an invalid month.

Example:
[cod

[2017-10-23 17:52] benjamin-albert commented on #78
Ideally we should have something similar to the [AltField option](https://github.com/KidSysco/jquery-ui-month-picker/wiki/AltField-Option) that would make something like this simple.

[2017-10-24 06:39] GreggOrdHume commented on #78
Thanks Benjamin! The example above is perfect.

`create:` is exactly what i need.

The `AltField` is close but essentially I am only setting the data attribute so i can grab it later and put it into a variable. `create:` and `onAfterChooseMonth:` will allow me to skip the whole data-attribute approach and set the variable inside those events.

Many many thanks :)

[2017-11-10 15:06] #78 closed, assigned to nobody

[2017-11-16 14:22] lcfink opened #80 "Error with jQuery jQuery 3.21./jQueryUI 1.12.1"
Picker loads with month-picker-previous and month-picker-next buttons disabled.

The problem seems to be that _value is null (not false, but falsie) on input.
The check if (_btnWidget.option('disabled') !== _value) is true, so _btnWidget.option('disabled', _value) executes, which disables the buttons.

An easy fix is to validate _value:
_value = !(!_value);

[2017-11-16 14:46] KidSysco commented on #80
Good find, we should probably try to support jQuery 3.x sometime soon.

[2017-11-16 14:50] lcfink commented on #80
If I may say, I've tested pretty thoroughly in my applications, and plan to deploy your month picker running in 3.x, with my manual fix. That's the only issue I found.

[2017-11-16 14:54] KidSysco commented on #80
OK great, I was going to say that @ComiR at https://github.com/KidSysco/jquery-ui-month-picker/pull/79 found another way to address this issue. It passed all of our unit tests too. I should probably merge that up soon and it should address this issue. Thanks for chiming in!

[2017-11-16 17:07] benjamin-albert commented on #80
Welcome to GitHub @lcfink

Thank you for opening an issue and expressing interest in jQuery UI 1.12 and jQuery 3 support.

Supporting jQuery UI 1.12 is being discussed in #73 which includes the fix you're proposing and other important fixes which address the visual glitches.

Let's continue the discussion around supporting jQuery UI 1.12 and jQuery 3 in #73

[2017-11-16 17:07] #80 closed, assigned to nobody

[2017-11-16 22:31] eliteproxy7 opened #81 "show years first?"
is it possible for the users to have to select a year first before the month?

right now it opens to current year, but I would like for the users to see the years first

[2017-11-17 13:41] KidSysco commented on #81
That is an interesting idea.

The call to Open the menu will always reset the menu back to months. So you will probably need to show the years, after Open is called.

I suppose I would first try to implement the OnAfterMenuOpen event...
https://github.com/KidSysco/jquery-ui-month-picker/wiki/Events#onaftermenuopen

Then I would find a way to call _showYears at line 930 and I suppose that should pr

[2018-01-05 16:46] aragorn-be opened #82 "Fill in 2 hidden input field"
Hello,
I'm a newbie, so sorry if my question sounds stupid... ;-)
I would like to use the AltFormat and AltField feature. This feature is designed to fill in a single INPUT field.
However I would like to fill in 2 hidden INPUT fields after picking a month: the first one named "month" and the second one named "year".
How can I do this with that package?
Thanks for your help or advise.

[2018-01-07 14:55] KidSysco commented on #82
It just takes any jQuery selector. So use this...

$('.selector').MonthPicker({ AltField: '#field, #field2' });

I just tested it out real quick and it works, see below...

http://jsfiddle.net/kidsysco/bsxzd4kq/

[2018-01-07 14:59] KidSysco commented on #82
It seems to work with both AltField and AltFormat at that same fiddle.

$('.Default').MonthPicker({ AltField: '#MyFirstField, #MySecondField', AltFormat: 'yy-mm' });

[2018-01-08 09:04] aragorn-be commented on #82
Hi,
Thanks a lot for the quick reply. I appreciate... :-)
I've tested your code and indeed it updates 2 differents fields.
However the content of these 2 fields are exactly the same... What I would like to get is: one (hidden) field with the year (eg. 2018) and the other (hidden) field with the month (eg. 3).
So when I click on the "Submit" button of the form afterwards (GET method) I can create a

[2018-01-08 17:24] KidSysco commented on #82
If that is the case, then I would not use AltField or AltFormat. I would just use the API calls to get the year and the month like this...

$('.selector').MonthPicker('GetSelectedMonth')
Returns only the month portion of the selected date as an integer. Returns NaN if there is no valid date.

$('.selector').MonthPicker('GetSelectedYear')
Returns only the year portion of the selected date as an int

[2018-01-10 17:00] aragorn-be commented on #82
Once again, I appreciate your dedication to help me.
However as I'm an newbie, this sounds as "chinese" for me... ;-) Sorry for this!
Could you please provide a practical example in Fiddle?

[2018-01-10 18:12] aragorn-be commented on #82
Hi again...
Please forget my last request... I finally spent some time to adapt my PHP code to use one single field (concatenation of year/month) i.s.o 2 different ones. So your package is now adapted to that approach.
Thanks again for your help... I'm gonna close this issue. :-)

[2018-01-10 18:12] #82 closed, assigned to nobody

[2018-02-25 21:25] nuclearsiloman opened #83 "Autoclose Support"
Does this have autoclose support like datepicker?

[2018-02-27 16:05] KidSysco commented on #83
I am not sure what you mean. Can you provide a link to the documentation or some sort of example of what you are looking for?

[2018-02-28 15:31] nuclearsiloman commented on #83
Sure.  If you go here:  http://bootstrap-datepicker.readthedocs.io/en/latest/options.html#autoclose
The second section is Autoclose; setting that closes the calendar as soon as a date is picked, so the user doesn't have to click off of it to close

[2018-02-28 15:55] KidSysco commented on #83
If I go to the demo page for the month picker...

https://kidsysco.github.io/jquery-ui-month-picker/

And I click on any one of those, then I choose a date, the month picker hides/closes.

So the month picker will close upon clicking anywhere on the page, and it will also close upon selecting a date.

Are you asking for a way to shut that off?

If so, no I don't think there is a way to turn off th

[2018-02-28 15:59] KidSysco commented on #83
However, you could use an inline month picker to achieve the same effect I suppose.

https://github.com/KidSysco/jquery-ui-month-picker/wiki/Inline-Menu

See the Inline Menu Demonstration on the demo page for month picker too. It will never hide, it will always show inline. That is about as close as we can get to turning off the auto hide behavior you are looking for.

[2018-02-28 16:29] nuclearsiloman commented on #83
Odd.  When I click a month, it doesn't close.

[2018-02-28 18:38] KidSysco commented on #83
ok, well perhaps you have found a bug.

Can you share a fiddle? See if we can reproduce the behavior?

What browser? OS?

[2018-03-01 16:54] nuclearsiloman commented on #83
I think there is a conflict with something else in the page.  If I move it to a simple page without all the clutter it works fine.  Nothing shows in the console, so I guess I'll just add one thing at a time until it doesn't close on its own.  Thanks for your help.

[2018-03-01 17:01] KidSysco commented on #83
It just calls .hide(), to hide the menu. Which should just change a css class on the element named hide, probably just setting the display to none. (line 615)

However, if you are using an animation, then it works a bit different. You could also try turning off the close animation and see if that helps.

https://github.com/KidSysco/jquery-ui-month-picker/wiki/Animation-Option

Let us know how it g

[2018-03-01 18:01] krisred opened #84 "Add support for Week/Year picker"
Hello,
Thanks for creating this awesome picker, it would be great to have an option to select week/year
May have a tab on tab - default to month | week
When in month it would show months, when in week - it would show week numbers 01 thru 52
so user selects week 2 in 2018 the it would input 02/2018

Kris

[2018-03-01 18:14] benjamin-albert commented on #84
This repo is specifically for choosing months. Feel free to fork the repo and make a version that allows choosing weeks.

[2018-03-06 13:34] QuoSijyro opened #85 "Get the selected year"
Hello,
I really like your MonthPicker and I'm using it for a school project.

But i have some troubble to get the year I just selected when i click on a specific year
If i use:
[code]
It's going to show me the last year where I just choosed a month.

For exemple, if I click on the June month of 2018 and then i click on 2015, it's going to show me 2018 year, and not the 2015 one.

If you have somet

[2018-03-06 14:42] KidSysco commented on #85
Hello @QuoSijyro,

Th method for GetSelectedYear gets the year that is currently selected in the text box, see this example I put together with your code...

http://jsfiddle.net/kidsysco/bsxzd4kq/

The OnAfterChooseYear event handler fires after clicking a year button, but the year is not really selected until both a month and a year are chosen, the menu closes, then both show in the text box.

So

[2018-03-06 14:43] KidSysco commented on #83
How is this one going @nuclearsiloman?

Did you figure out what was causing the failure?

Sure would be interesting to know.

[2018-03-06 14:44] KidSysco commented on #84
I agree. This is too big of a requirement for this plugin. This idea deserves it's own plugin.

[2018-03-06 14:44] #84 closed, assigned to nobody

[2018-03-06 14:45] #77 closed, assigned to nobody

[2018-03-06 14:47] #81 closed, assigned to nobody

[2018-03-06 14:49] #56 closed

[2018-03-06 15:54] QuoSijyro commented on #85
Thank you for your fast reply.

I'm actually using the MonthPicker as Inline Menu,
here is my code http://jsfiddle.net/bsxzd4kq/13/

If I understood well, you are saying that I'm able to take the year value from the textbox.
But I'm not using textbox here.

Is there is a way to get the year without having to select a month precisly ?
Or why not, I was thinking about automatically select the first

[2018-03-06 17:38] KidSysco commented on #85
There is no AIP support for this, but you could add it in.

You need to call _setSelectedMonth which is only available internally to the plugin. So you will need to create a public facade for it around line 482, like we did for the other publicly accessible functions. Call _setSelectedMonth from that public method, then call the public method from OnAfterChooseYear followed by a call to GetSelecte

[2018-03-06 18:07] benjamin-albert commented on #85
Another option that doesn't require forking the code base is accessing the internal `_pickerYear` property.

See example fiddle for this: http://jsfiddle.net/ks5jowep/3/

This use case is not supported and might break in future releases.

[2018-03-06 19:07] KidSysco commented on #85
That is a really good idea considering how @QuoSijyro wants to use the plugin.

[2018-03-06 22:35] QuoSijyro commented on #85
Thanks for your replies, creating a public facade for what I want could be nice @KidSysco
But I don't really know a lot about JavaScript so I think I'm going to use the @benjamin-albert technique.

If I have more time to do it I'll add it in the code like you said @KidSysco

Thanks a lot, Sijyro.

[2018-03-09 14:10] #85 closed, assigned to nobody

[2018-03-09 14:10] #83 closed, assigned to nobody

[2018-03-14 12:02] allipierre opened #86 "Jquery on Change"
Hi,
Jquery on change (https://api.jquery.com/change/) doest not works when input field change

Regards

Pierre

[2018-03-14 16:21] KidSysco commented on #86
Hi @allipierre,
If you read through the docs you sent, you will notice this line...

[code]

This script works by changing the value of the text box using script. So you are correct. It will not fire the change event.

If you need to tie in an event, you should use one of the events built in to the Month Picker...

https://github.com/KidSysco/jquery-ui-month-picker/wiki/Events

Try using the OnAft

[2018-03-14 16:40] allipierre commented on #86
When
try that it defekt the change
$('#P105_ANFAN_UPDATED_ON').MonthPicker({
    OnAfterMenuClose: function() {
   }
});

Is there a way to use the jquery change to use that event ?

[2018-03-14 16:53] KidSysco commented on #86
Just call the change event yourself from OnAfterMenuClose.

$(".Default").trigger("change");

See fiddle below.

http://jsfiddle.net/kidsysco/bsxzd4kq/

[2018-03-14 17:00] allipierre commented on #86
Thanks works

[2018-03-14 17:01] KidSysco commented on #86
woot!

[2018-03-14 17:01] #86 closed, assigned to nobody

[2018-04-12 04:00] adhidarmawan opened #87 "How to enable the year only?"
I want the widget to enable year only in 12 months selection, how do I do that?

[2018-04-12 15:32] benjamin-albert commented on #87
Is the [MinMonth](https://github.com/KidSysco/jquery-ui-month-picker/wiki/MinMonth-Option) and [MaxMonth](https://github.com/KidSysco/jquery-ui-month-picker/wiki/MaxMonth-Option) options what you are looking for?

[2018-09-08 15:25] odinko opened #91 "Add source to project"
download source MonthPicker.js + MonthPicker.css from repo

write jsx-component:

import 'jquery';
import 'jquery-ui';
import 'jquery-ui/ui/core';
import 'jquery.maskedinput';
import '../lib/MonthPicker';
import '../lib/MonthPicker.css';

componentDidMount() {
        $('#month').MonthPicker();
    }

error:
Uncaught TypeError: (0 , _jquery2.default)(...).MonthPicker is not a function

[2018-09-10 06:54] odinko commented on #91
need add imports:
import 'jquery-ui/ui/i18n/datepicker-ru';
import 'jquery-ui/ui/widgets/datepicker';
import 'jquery-ui/ui/widgets/button';

[2018-09-10 06:54] #91 closed, assigned to nobody

[2019-02-11 14:17] p0rter76 opened #92 "Error: MonthPicker can only be called on text or month inputs."
Hello,

I'm currently trying to implement the MonthPicker into my Java-Based Web Application but I keep getting the error message that the MonthPicker can only be called on text or month inputs even though the text box in my application has the input attribute text. I know you probably can't help with integrating this widget in a java web application but if you could give me any clue why the error

[2019-02-11 21:28] KidSysco commented on #92
I will see if Benjamin wants to comment more, I think he has a strong Java background.

The code for it lives on line 358...

[code]

[2019-02-12 06:20] p0rter76 commented on #92
Alright thanks in advance, would be a blessing if someone else with Java experience could look into it!

[2019-02-12 08:48] benjamin-albert commented on #92
This error usually means that the selector you’re using is selecting one or more elements that is not an a `text` or `month` input.

For example this snippet might be selecting some other input with type `number` or `tel`:
[code]

If you’re still having issues please provide an example [fiddle](
http://jsfiddle.net/kidsysco/JeZap/) or provide JS and HTML snippets that describe how to reproduce the

[2019-02-12 11:58] p0rter76 commented on #92
https://jsfiddle.net/ry5vL307/
The JS-File i've added to the fiddle shows the handler to register the MonthPicker in Eclipse-RAP, the control is a SWT-Text object which has the input type text but it still won't let me create the monthpicker

[2019-02-12 13:02] benjamin-albert commented on #92
The HTML in the example fiddle you posted does not have any HTML element of type `input`. One option you can try is to convert the div that has the month text to a read only input field and crating the moth picker on that input. I’m posting from my iPhone so I can’t provide examples right now. Maybe I can provide an example sometime later

[2019-02-12 14:01] p0rter76 commented on #92
`<input type="text" style="position: absolute; padding: 0px 1px 0px 0px; margin: 0px; border: 0px none; background: transparent none repeat scroll 0% 0%; overflow: hidden; outline: currentcolor none medium; resize: none; -moz-appearance: none; font-family: Verdana, &quot;Lucida Sans&quot;, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; color: rgb(74, 74, 74

[2019-03-28 14:05] ojathelonius commented on #68
To make it work, `package.json` should have the proper entry file :

[code]
The post-install command and `bower` devDependency are not required for npm, and the library can then be imported with :

[code]

[2019-08-16 20:34] luisveltze opened #93 "ASP.NET Core 2.2?"
I was wondering if this can be implemented into a NET. Core 2.2 MVC web app? I saw that they removed bower manager from VS 2019 so I was wondering if I can still add this to my web app? I tried downloading it and putting it inside wwwroot/lib but not sure what to do after that.

[2019-10-18 05:13] Gokulakannanaj opened #94 "MonthPicker Error: The jQuery UI button and datepicker plug-ins must be loaded."
Hi,

Getting following error while running

**MonthPicker Error: The jQuery UI button and datepicker plug-ins must be loaded.**

I attached all the files But still getting Above error. Here I don't know what am i  missing?

Thanks.

[2019-10-19 13:32] KidSysco commented on #94
You should try to make sure you have jQuery UI installed to the project first.

[2019-10-30 09:46] #94 closed, assigned to nobody

[2020-10-09 17:46] well-ington opened #95 "Fix broken links in Home wiki page"
Hello there!

I've noticed that some of the reference links in Home wiki are broken. 404 response for every code.jquery.com response.

In order to fix that I suggest you guys use these script tags instead:

[code]

[2020-12-08 16:23] flaczkiDomowe opened #96 "Setting date manually."
Hello. How can I set some text/date in input manually? Is clicking the button the only way to do it? I read documentation but I couldn't find it. My problem actually is that in event onAfterChooseMonth i do check selectedDate and if it is bad for x reason, I can't prevent it to set anyways.

[2020-12-09 12:42] KidSysco commented on #96
Look at the demo.

https://kidsysco.github.io/jquery-ui-month-picker/

The second month picker listed on the page shows how to create an input with no button, you can demo how it works there too.

TO show errors for bad dates, see the wiki.

https://github.com/KidSysco/jquery-ui-month-picker/wiki/API-Methods

[code]

[2020-12-15 11:01] flaczkiDomowe commented on #96
Thanks 👍

[2020-12-15 11:01] #96 closed, assigned to nobody

[2021-04-13 03:31] xuanhop opened #97 "How can i destroy Month Picker?"
I have already instanced Month Picker, but somehow  I want to destroy it or rebuild it after a while. So How can i do that?

[2021-05-12 07:39] ianthedev opened #98 ""Jump Years" hint isn't working with jQuery 3.6.0 and jQuery UI 1.12.0"
In the official demo file, after I changed the versions of jQuery and jQuery UI to 3.6.0 and 1.12.0, respectively, the "Jump Years" hint stops working.

[2021-05-12 08:42] ianthedev opened #99 "MinMonth and MaxMonth aren't working with jQuery 3.6.0 and jQuery UI 1.12.0"
In the official demo file, after I changed the versions of jQuery and jQuery UI to 3.6.0 and 1.12.0, respectively, the months and years which are outside the range set by `MinMonth` and `MaxMonth` can be selected.

[2021-05-12 10:44] ianthedev opened #100 "Datepicker's events no longer works"
jQuery UI Datepicker's events such as [beforeShow](https://api.jqueryui.com/datepicker/#option-beforeShow) and [onSelect](https://api.jqueryui.com/datepicker/#option-onSelect) no longer works.

[2021-05-12 15:11] ianthedev commented on #100
Just noticed the Events page in the wiki.

[2021-05-12 15:11] #100 closed, assigned to nobody

[2021-05-12 15:19] ianthedev opened #101 "Suggestion: Add a reference to the monthpicker element for OnBeforeMenuOpen"
Currently, the `OnBeforeMenuOpen` event only has the `event` argument. It would be more convenient for us if it has arguments like jQuery UI Datepicker's [`beforeShow`](https://api.jqueryui.com/datepicker/#option-beforeShow) do so that we can reference the monthpicker element (`.month-picker`).

[2021-08-20 17:52] cMurphyEWScripps opened #102 "Wiki has an error for default Duration value"
The default is `normal`.

The error is on page
https://github.com/KidSysco/jquery-ui-month-picker/wiki/Duration-Option

[2022-03-01 08:24] kuldeepjambhulkar opened #103 "jQuery Month picker dropdown dialog misaligned when zoomed in or zoomed out a webpage (refer the 3 images given)"
Observe these three images.
**you can see it live [here][4], just open any monthpicker dialog & perfrom zoom-in zoom-out.**

zoom 100%
![zoom 100%][1]

zoom 110%
![zoom 110%][2]

zoom 90%
![zoom 90%][3]

  [1]: https://i.stack.imgur.com/vsVnU.png
  [2]: https://i.stack.imgur.com/6NNzZ.png
  [3]: https://i.stack.imgur.com/hec66.png
  [4]: https://kidsysco.github.io/jquery-ui-month-picker/

[2022-03-01 14:05] KidSysco commented on #103
Hello,

Very interesting finding...

I tried this for myself and while changing the zoom does move the month picker if it is showing, it does not have any negative effects if the month picker is not showing. Additionally, if you simply close the month picker, and re-open it, it will be fixed. I will leave this open for now to see if anyone wants to address this issue. I may take a look at it once

[2022-03-01 14:37] kuldeepjambhulkar commented on #103
Hi,
thank you for responding!

As you said, we can close & re-open the month picker & that fixes the issue, but thanks for keeping this issue open, so that others can also present their solutions 😀.

[2022-04-01 06:18] kuldeepjambhulkar commented on #103
Changed
`_menu.appendTo( isInline ? _el : document.body );`
to
 `_menu.appendTo( isInline ? document.body : _el.parent());`

and it worked!
but I'm not sure if it's a legit solution or a hacky thing 😬.

[2022-05-23 11:35] swuf commented on #99
If anyone is still interested, we have been able to fix this by changing two lines in the `_decorateButtons` method:
Original:
`_setDisabled(this._prevButton,  _minDate && _curYear == _toYear(_minDate));`
`_setDisabled(this._nextButton,  _maxDate && _curYear == _toYear(_maxDate));`

Fixed:
`_setDisabled(this._prevButton,  _minDate != null && _curYear == _toYear(_minDate));`
`_setDisabled(this._nex

[2022-06-20 13:31] #71 closed, assigned to nobody